.button {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  height: $grid-unit * 2;
  line-height: $grid-unit * 2;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 150ms, width 150ms;
  user-select: none;
  white-space: nowrap;

  &.no-display {
    display: none;
  }

  &.card-control {
    width: 100%;
  }

  &.outline {
    background-color: transparent;
    border-color: $white;
    color: $white;
    opacity: .6;
    transition: background 150ms, opacity 150ms;

    &:hover,
    &:focus {
      background-color: $transparent-white-1;
      opacity: .8;
    }

    &:active,
    &.active,
    &.active:hover,
    &.active:focus {
      background-color: $transparent-white-1;
      opacity: 1;
    }
  }


  &.primary {
    background: $primary;
    border: 1px solid $primary-dark;
    color: $white;

    &:not([disabled='true']) {
      &:hover,
      &:focus {
        background: $primary-dark;
        border: 1px solid $primary-darker;
      }

      &:active {
        background: $primary-darker;
        border: 1px solid $primary-darkest;
      }
    }

    &.install {

      @include respond-to('not-small') {
        font-size: 27px;
        height: 82px;
        min-width: 320px;
      }

      @include respond-to('small') {
        font-size: 21px;
        height: 72px;
      }

      border-radius: $large-border-radius;
      box-shadow: 0 2px 0 $transparent-black-2, 0 -2px 0 $transparent-black-2 inset;
      font-weight: 500;
      margin-top: $grid-unit * 1.5;
      text-shadow: 0 2px 0 $transparent-black-1;

    }

    .one-click-text {
      @include respond-to('not-small') {
        line-height: 30px;
      }

      @include respond-to('small') {
        line-height: 24px;
      }

      .minor-cta {
        display: block;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }
    }
  }

  &.secondary {
    background: $secondary-button-background;
    border: 1px solid $secondary-button-border;

    &:hover,
    &:focus {
      background: darken($secondary-button-background, 4);
      border: 1px solid darken($secondary-button-border, 4);
    }

    &:active {
      background: darken($secondary-button-background, 8);
      border: 1px solid darken($secondary-button-border, 8);
    }
  }

  &.default {
    background: $default;
    color: $white;

    &:hover,
    &:focus {
      background: darken($default, 4);
    }

    &:active {
      background: darken($default, 6);
    }
  }

  &.warning {
    background: $warning-red-light;
    border: 1px solid $warning-red-default;
    color: $white;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active,
  &.disabled:focus {
    background-color: $disabled-grey;
  }

  &.large,
  &.extra-large {
    font-size: 20px;
    height: 52px;
    line-height: 52px;
    min-width: 300px;
    padding: 0 10px;
  }

  &.extra-large {

    @include respond-to('not-small') {
      font-size: $font-unit * 2;
      height: $grid-unit * 3;
      line-height: $grid-unit * 3;
      padding: 0 $grid-unit * 1.5;
    }

    box-shadow: 0 2px 0 0 $transparent-black-2;
  }
}

.download-firefox {
  @include flex-container(row, center, center);
  color: $white;
  cursor: auto;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  height: 92px;
  margin: $grid-unit auto 0;
  padding: 8px;
  transition-duration: 250ms;
  transition-property: box-shadow, border;
  user-select: none;
  width: 320px;

  .button-icon-badge {
    @include hidpi-background-image('download-icon', 16px 16px);
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 50%;
    bottom: 4px;
    box-shadow: 0 2px 0 $transparent-black-2;
    height: 16px;
    padding: 14px;
    position: absolute;
    right: 2px;
    transition-duration: 150ms;
    width: 16px;
  }

  .button-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: .25em;
  }

  .button-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1em;
  }

  .button-copy {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button-icon {
    @include hidpi-background-image('small-firefox-logo', 57px 59px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 57px 59px;
    flex: 0 0 57px;
    height: 59px;
    margin-right: 16px;
    position: relative;
  }

  &:hover .button-icon-badge {
    bottom: 0;
  }
}
