.button {
  border: 1px solid $transparent-black-34;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: $weight-normal;
  height: $grid-unit * 2;
  line-height: $grid-unit * 2;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 150ms, width 150ms;
  user-select: none;
  white-space: nowrap;

  &.no-display {
    display: none;
  }

  &.outline {
    background-color: transparent;
    border-color: $white;
    color: $white;
    transition: background 150ms, border 150ms;

    &:hover,
    &:focus {
      background-color: $transparent-white-1;
      border-color: $transparent-white-8;
    }

    &:active,
    &.active,
    &.active:hover,
    &.active:focus {
      background-color: $transparent-white-2;
      border-color: $transparent-white-8;
    }
  }

  &.primary {
    background: $green-60;
    border: 2px solid $green-70;
    color: $white;

    &:not([disabled='true']) {
      &:hover,
      &:focus {
        background: $green-70;
        border: 2px solid $green-80;
      }

      &:focus:hover {
        background: $green-70;
        border: 2px solid $green-80;
      }

      &:active {
        background: $green-80;
        border: 2px solid $green-90;
      }

      &.state-change {
        background: $green-70;
      }
    }
  }

  &.secondary {
    background: $white;
    color: $grey-70;
    font-size: 14px;
    font-weight: $weight-semi-bold;

    &:hover,
    &:focus {
      background: $grey-20;
    }

    &:active {
      background: $grey-30;
    }
  }

  &.default {
    background: $blue-60;
    border-color: $blue-60;
    color: $white;

    &:hover,
    &:focus {
      background: $blue-70;
      border-color: $blue-70;
    }

    &:active {
      background: $blue-80;
      border-color: $blue-80;
    }
  }

  &.warning {
    background: $red-60;
    border: 1px solid $red-70;
    color: $white;

    &:hover,
    &:focus {
      background: $red-70;
      border-color: $red-80;
    }

    &:active {
      background: $red-80;
      border-color: $red-90;
    }
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active,
  &.disabled:focus {
    background-color: $grey-30;
  }

  &.large {
    font-size: $font-unit * 1.25;
    line-height: 48px;
    height: 48px;
    max-width: 360px;
    padding: 0 10px;
    border-radius: $medium-border-radius;
  }
}
