.details-header-wrapper {

  &:not(.has-status) {
    padding-top: $grid-unit * 1.8;

    .status-bar {
      display: none;
    }
  }

  @include respond-to('not-small') {
    &.stick {
      background: $transparent-white-96;
      box-shadow: 0 0 5px $transparent-black-5;
      left: 0;
      padding-top: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
}

@include respond-to('small') {

  .details-header {
    margin: $grid-unit * .5 0;
    padding-top: $grid-unit * .75;
  }

  .experiment-controls {
    @include flex-container (column, center, stretch);

    .button {
      flex: 1 0 100%;
      margin: $grid-unit * .5 0;
    }
  }

  .highlight-privacy {
    display: none;
  }


  .sticky-header-sibling {
    display: none;
  }
}

.status-bar {
  @include flex-container(row, center, center);
  animation: fade-in 500ms forwards;
  height: $grid-unit * 1.6;
  margin-bottom: $grid-unit * .2;
  opacity: 0;
  padding-top: $grid-unit * .1;

  &.enabled {
    background: $green;
    border-bottom: 1px solid $dark-green;
    color: $white;
  }

  &.error {
    background: $error-red-background;
    border-bottom: 1px solid $error-red-border;
  }

  .stick & {
    margin-bottom: 0;
  }
}

.experiment-video {
  margin-bottom: $grid-unit;
}

.experiment-controls {
  @include respond-to('not-small') {
    @include flex-container(row, flex-end, center);
  }

  flex: 1;
  position: relative;
  transition: top 200ms;
  width: 100%;

  .button {
    @include respond-to('not-small') {
      margin-left: $grid-unit;
    }

    font-size: $grid-unit * .9;
    height: $grid-unit * 2.6;
    line-height: $grid-unit * 2.6;
    padding: 0 $grid-unit * .75;
  }

  .highlight-privacy {
    cursor: pointer;
  }

  span {
    text-wrap: nowrap;
  }
}

.details-header {
  @include respond-to('not-small') {
    height: $grid-unit * 4.5;
    margin-bottom: 0;
  }

  margin-bottom: $grid-unit;
  position: relative;

  h1 {
    @include respond-to('big') {
      font-size: $font-unit * 4;
      line-height: $font-unit * 4;
    }

    @include respond-to('medium') {
      font-size: $font-unit * 3.5;
      line-height: $font-unit * 3.5;
    }

    @include respond-to('small') {
      font-size: $font-unit * 3.2;
      line-height: $font-unit * 3.2;
      margin: $grid-unit * .5;
    }

    display: flex;
    flex: 1;
    margin: 0;
    transition: font-size 200ms;
  }

  h4 {
    margin: 0;
  }

  .upgrade-notice {
    background: $error-red-background;
    border: 1px solid $error-red-border;
    border-radius: $small-border-radius;
    line-height: 1.6em;
    padding: $grid-unit * .5;
    text-align: right;
  }
}

.install-count {
  margin-left: $grid-unit;
}


.details-content {
  @include respond-to('not-small') {
    @include flex-container(row, space-between, stretch);
  }
}

.details-overview {
  @include respond-to('big') {
    flex: 0 0 $grid-unit * 15;
  }

  @include respond-to('medium') {
    flex: 0 0 $grid-unit * 14;
  }

  @include respond-to('small') {
    flex: 0 0;
    width: 100%;
  }

  padding-top: $grid-unit * .5;

  .contributors-section,
  .stats-section,
  .measurements {
    @include hide-on-small;
  }
}

.details-description {
  @include respond-to('big') {
    flex: 0 0 $grid-unit * 32;

    img {
      height: auto;
      width: $grid-unit * 32;
    }
  }

  @include respond-to('medium') {
    flex: 0 0 $grid-unit * 22;

    img {
      height: auto;
      width: $grid-unit * 22;
    }
  }

  @include respond-to('small') {
    padding-bottom: $grid-unit;

    img {
      height: auto;
      width: 100%;
    }
  }

  padding-top: $grid-unit * .5;

  > :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .introduction {
    @include respond-to('not-small') {
      margin-bottom: $grid-unit * 2;
    }

    @include respond-to('small') {
      margin-bottom: $grid-unit;
    }

    h3 {
      font-size: $font-unit * 2.5;
      margin: $grid-unit * .5 0;
    }
  }

  .measurements {
    @include show-on-small;
  }

  .graduation-report {
    margin-bottom: $grid-unit * 4;

    > :first-child {
      margin-top: 0;
    }

    figure {
      margin: $grid-unit 0;

      .dashboard-embed {
        border: 0;
        display: block;
        height: 380px;
        margin-top: $grid-unit;
        width: 100%;
      }
    }

    figcaption {
      color: $transparent-black-7;
      font-size: $font-unit;

      img {
        width: auto;
      }
    }
  }
}

.eol-block {
  background: $eol-light-orange;
  border: 1px solid $eol-orange;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
}

.completed-block {
  background: $error-red-background;
  border: 1px solid $error-red-border;
  border-radius: 3px;
  margin-bottom: $grid-unit;
  padding: $grid-unit;

  h3,
  p {
    font-size: $font-unit * (7 / 6);
    margin: 0;
  }

  p {
    line-height: $line-unit;
    padding-top: 10px;
  }
}

.details-sections {

  section {
    margin-bottom: $grid-unit;
    padding-bottom: $grid-unit;

    + section {
      border-bottom: 1px solid $transparent-black-1;
    }

    h3 {
      font-size: $font-unit * 1.5;
      margin: 0 0 $grid-unit;
    }
  }
}

.user-count {
  background: $transparent-black-05;
  padding: $grid-unit;
  text-align: center;
}

.disclaimer,
.measurement,
.measurement p {
  font-size: $font-unit + 2;
  line-height: $line-unit + 4;
}

.measurements {
  border-radius: $small-border-radius;
  box-shadow: 0 0 0 $grid-unit * .5 transparent;

  h3 {
    @include respond-to('small') {
      border-top: 1px solid $transparent-black-1;
      margin-top: $grid-unit;
      padding-top: $grid-unit;
    }
  }
}

.measurement {
  position: relative;

  ul {
    background: $transparent-black-05;
    border-radius: $small-border-radius;
    margin: 0;
    padding: $grid-unit $grid-unit $grid-unit $grid-unit * 1.5;

    li {
      margin-bottom: $grid-unit * .5;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.privacy-policy {
  display: block;
  font-size: $font-unit;
  line-height: $line-unit - 2;
  padding: $grid-unit * .25 $grid-unit * .25 0;
}

.contributors {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include flex-container(row, flex-start, center);
    padding-bottom: $grid-unit;
    text-align: left;
  }

  >:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .name {
    margin: 0;
  }

  .title {
    font-size: $font-unit * .8;
    line-height: $grid-unit;
    margin: 0;
  }

  .contributor {
    line-height: $font-unit;
    padding-left: $grid-unit * .5;
  }
}

.stats {
  font-size: $font-unit;
  table-layout: fixed;
  width: 100%;

  td {
    padding: $grid-unit * .25;
    vertical-align: top;
    width: 65%;
    word-wrap: break-word;
  }

  td:first-child {
    font-weight: bold;
    width: 35%;
  }
}

.details-image {
  @include respond-to ('not-small') {
    margin-bottom: $grid-unit * 1.5;
  }

  @include respond-to ('small') {
    margin-bottom: $grid-unit * .75;
  }

  img {
    border-radius: 3px;
    max-width: 100%;
    overflow: hidden;
  }

  .caption {
    color: $transparent-black-7;
    font-size: $font-unit;
    line-height: $font-unit * 1.5;
    margin-top: $grid-unit * .5;
    padding: 0 $grid-unit * .25;
  }
}

.experiment-platform {
  @include flex-container(row, flex-start, center);
  color: $transparent-black-5;
  font-size: 1.2 * $font-unit;
  font-weight: normal;
  margin: 0;

  .platform-copy,
  .platform-icon {
    margin-bottom: 5px;
  }

  .platform-icon {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    height: 16px;
    margin-right: 6px;
    margin-top: -4px;
    opacity: .5;
    width: 16px;
  }

  .platform-icon-web {
    background-image: url('../images/experiment-type-web.svg');
  }

  .platform-icon-addon {
    background-image: url('../images/experiment-type-addon.svg');
  }

  .platform-icon-mobile {
    background-image: url('../images/experiment-type-mobile.svg');
  }
}

@include respond-to('small') {
  #experiment-page {
    .card-list {
      margin: 0 0 $grid-unit;
    }

    .experiment-summary:last-child {
      margin-bottom: 0;
    }

    .card-list-header {
      font-size: $font-unit * 1.5;
      line-height: $font-unit * 2;
      margin: ($grid-unit * 1.5) 0;
    }

    #footer-links {
      padding-top: 0;
    }
  }
}
