.experiment-summary {

  @include flex-container(column, stretch, stretch);

  @include respond-to('big') {
    flex: 0 0 300px;

    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }

  @include respond-to('medium') {
    flex: 0 0 44%;
    margin: 0 3% $grid-unit * 2;
  }

  @include respond-to('small') {
    flex: 0 1 98%;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  background-color: $white;
  border-radius: $small-border-radius + 1;
  box-shadow: 0 0 0 1px $transparent-black-1, 0 1px 0 1px $transparent-black-1;
  color: $black;
  cursor: pointer;
  margin: 0 0 ($grid-unit * 1.75) ($grid-unit * 2);
  position: relative;
  z-index: 1;

  .blue & {
    background: $transparent-white-96;
  }

  .experiment-information {
    @include flex-container(column, flex-start, flex-start);
    flex: 1;
    padding: $grid-unit;
  }

  header {
    @include flex-container(column, space-between, flex-start);
    margin-bottom: $grid-unit * .5;
    width: 100%;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  p {
    flex: 1;
    font-size: $font-unit + 4;
    line-height: 1.4 * $line-unit;
    margin: 0 0 $grid-unit * .5;
  }

  span {
    color: $transparent-black-5;
    font-size: 1.2 * $font-unit;
    margin: 0 0 ($grid-unit * .5);
  }

  &.enabled {
    box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-green;

    &:hover {
      box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-green, 0 0 0 9px $transparent-white-1;
    }
  }

  &:hover {
    box-shadow: 0 1px 0 0 $transparent-white-2, 0 0 0 5px $transparent-white-2;
    transition: box-shadow 150ms;

    h3,
    h4 {
      color: $default;
      transition: color 150ms;
    }
  }

  &.just-launched {
    box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-blue;

    &:hover {
      box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-blue, 0 0 0 9px $transparent-white-1;
    }
  }

  &.just-updated {
    box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-blue;

    &:hover {
      box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-blue, 0 0 0 9px $transparent-white-1;
    }
  }

  a.overlap-block {
    background-color: $white;
    filter: alpha(opacity=1);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .card-control {
    z-index: 3;
  }
}

.eol-message {
  color: $eol-dark-orange;
}

.experiment-actions {
  .has-addon:not(.active) &.show-when-inactive {
    display: block;
  }

  .tab {
    border-bottom-right-radius: $large-border-radius;
    border-bottom-width: 3px;
    border-left-width: 0;
    border-right-color: $white;
    border-right-width: 3px;
    border-style: solid;
    border-top-left-radius: $small-border-radius;
    border-top-width: 0;
    display: inline-block;
    font-weight: 300;
    height: $grid-unit * 1.5;
    left: -3px;
    line-height: $grid-unit * 1.5;
    outline: none;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -3px;
    transition: background 150ms;
    white-space: nowrap;
    z-index: 99999;
  }

  .enabled-tab {
    background: $bright-green;
    border-bottom-color: $white;
    color: $white;
  }

  .just-launched-tab {
    background: $bright-blue;
    border-bottom-color: $white;
    color: $white;
  }

  .just-updated-tab {
    background: $bright-blue;
    border-bottom-color: $white;
    color: $white;
  }
}

.experiment-icon-wrapper {
  @include flex-container(row, center, center);
  background: $transparent-black-2;
  border-radius: $small-border-radius $small-border-radius 0 0;
  box-shadow: 0 -2px 2px $transparent-white-1 inset;
  height: $grid-unit * 7;
  overflow: hidden;
  position: relative;

  &::after {
    background: $transparent-white-05;
    content: '';
    height: $grid-unit * 15;
    left: -$grid-unit * 7.5;
    position: absolute;
    top: -$grid-unit * 7.5;
    transform: rotate(45deg);
    width: $grid-unit * 15;
    z-index: 2;
  }
}

.experiment-icon {
  background-repeat: no-repeat;
  background-size: $grid-unit * 4 $grid-unit * 4;
  filter: drop-shadow(0 1px 0 $transparent-black-1);
  flex: 0 0 $grid-unit * 4;
  height: $grid-unit * 4;
  opacity: .9;
}
