.legal-information {
  font-size: $font-unit;
  line-height: $line-unit;
  margin: $grid-unit 0 0;
  max-width: $grid-unit * 16;
  position: relative;

  .centered & {
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: underline;
  }
}

.legal-container {
  .legal {
    background-color: $legal-background;
    padding: 1em;
  }

  h1 {
    font-size: $font-unit * 3.5;
    font-weight: 300;
    margin-top: $grid-unit * 2;
  }
}
