#main-header {
  @include flex-container(row, space-between, center);

  h1 {
    margin: $grid-unit * .75 0 $grid-unit * .75 - $grid-unit * .25;
    text-indent: -9999px;

    .wordmark {
      @include respond-to('not-small') {
        @include hidpi-background-image('wordmark', 296px 64px);
        height: 64px;
        width: 296px;
      }
      @include hidpi-background-image('wordmark', 190px 41px);
      display: block;
      height: 41px;
      position: relative;
      width: 190px;
    }
  }
}
