// Loading animation concept comes from
// https://css-tricks.com/uniqlo-stripe-hovers/
// abstracted out into a modudle bc we use it
// in buttons and retire contexts.
.state-change-inner {
  animation: barberpole 1000ms infinite linear;
  background-image: linear-gradient(
    45deg,
    $transparent-white-1 25%,
    transparent 25%,
    transparent 50%,
    $transparent-white-1 50%,
    $transparent-white-1 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .1s ease;
}

.state-change .default-text {
  display: none;
}

:not(.state-change) .transition-text {
  display: none;
}

.state-change .transition-text {
  display: block;
}

.state-change .state-change-inner {
  opacity: 1;
}

.loading-pill .state-change-inner {
  opacity: 1;
}
