{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 FireFox versions",
          "last 2 Safari versions",
          "last 2 Edge versions"
        ]
      },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul", "transform-flow-strip-types"]
    }
  }
}
