extends:
  - eslint:recommended
  - plugin:react/recommended
  - airbnb/base

plugins:
  - react

globals:
  navigator: true
  document: true
  window: true
  fetch: true
  Promise: true

parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true
    experimentalObjectRestSpread: true

rules:
  "import/prefer-default-export": [0]
  "react/prop-types": [0]
  arrow-body-style: [0]
  camelcase: [0]
  prefer-template: [0]
  object-shorthand: [0]
  comma-dangle: [2, never]
  indent: [2, 2, {SwitchCase: 1}]
  max-len: [0]
  no-console: 1
  no-multi-spaces: [0]
  no-param-reassign: [0]
  no-return-assign: [0]
  no-unused-expressions: [0]
  no-use-before-define: [2, nofunc]
  yoda: [0]
