# File types to ignore globally
*.DS_Store
*.log
*.pyc
*.sw?

# Files to ignore in the base directory
coverage
debug-config.json
.env
MANIFEST
.nyc_output
version.json

# Directories to ignore
build/
dist/
docs/_build
frontend/build/
media/
node_modules/
static/
tmp/

# Files to ignore within specific directories
addon/*.rdf
addon/*.xpi
legal-copy/*html
