# File types to ignore globally
*.DS_Store
*.log
*.pyc
*.sw?

# Files to ignore in the base directory
coverage
.coverage
debug-config.json
.env
MANIFEST
.nyc_output
version.json

# Directories to ignore
build/
dist/
docs/_build
frontend/build/
media/
node_modules/
static/
tmp/
locales/en/

# Files to ignore within specific directories
addon/*.rdf
addon/*.xpi
addon/locale/
legal-copy/*html
old-addon/*.rdf
old-addon/*.xpi
old-addon/locale/
