*,
*:before,
*:after {
  box-sizing: border-box;
  font-weight: 300;
}

a {
  cursor: pointer;
  text-decoration: underline;

  &:focus {
    background: $cta;
    outline: none;
  }
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

// nb add CDN for font
body {
  background: $background;
  background-attachment: fixed;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
