.delayed-fade-in {
  animation: fade-in 750ms forwards ease-out;
  animation-delay: 750ms;
  opacity: 0;
  position: relative;
}

.fly-up {
  animation: bounceInUp 1200ms ease-out forwards;
  transform: translate3d(3000px, 0, 0);
}

.fade-in-fly-up {
  animation: fade-in-fly-up 500ms forwards;
}

.modal-bounce-in {
  animation: bounceInUp 1000ms ease-out;
}

.highlight {
  animation: highlight 5000ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Used on error and 404 pages
@keyframes fade-in-fly-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 130px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Used on settings dots and now active trobber
@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

// Used for the loader abuttons
@keyframes barberpole {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100px 50px;
  }
}

// Used to highlight legal copy
@keyframes highlight {
  from,
  to {
    box-shadow: 0 0 0 $grid-unit * .5 transparent;
  }

  5% {
    box-shadow: 0 0 0 $grid-unit * .25 $white, 0 0 0 $grid-unit * .5 $blue-40;
  }
}

// Used to bring in feedback forms
// this comes from here:
// https://github.com/daneden/animate.css/blob/master/source/bouncing_entrances/bounceInUp.css

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 600px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
