html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include flex-container(column);
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  min-height: 100vh;
}

.centered {
  text-align: center;
}

.no-display {
  display: none;
}

.hidden {
  opacity: 0;
}

.storybook-center {
  @include flex-container(column, center, center);
  min-height: 100vh;
}

.small {
  font-size: 13px;
}
