html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.parens {
  color: $transparent-white-8;
  font-size: $font-unit * 1.2;
  margin-bottom: $grid-unit * .5;
}

.emphasis {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

.lighter {
  font-weight: 300;
}

.centered {
  text-align: center;
}
