html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include flex-container(column);
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  min-height: 100vh;
}

.full-page-wrapper {
  flex: 1;
  min-height: 100vh;
  width: 100%;

  &.space-between {
    @include flex-container(column, space-between, center);
  }

  &.centered {
    @include flex-container(column, center, center);
  }

  noscript + &  {
    display: none;
  }
}

.centered {
  text-align: center;
}

.no-display {
  display: none;
}

.hidden {
  opacity: 0;
}

.small-spacer {
  height: $grid-unit;
}


// If static page is still rendered; don't display the page container
// This was added to correct some odd scrollbar behavior when page-container
// is injected and static-root is removed. These should happen at the same time,
// but wind up happening a few frames apart. This rule resolves
#static-root + #page-container.dynamic-page {
  display: none;
}

//THis is a layout helper for storybooks
.storybook-center {
  @include flex-container(column, center, center);
  min-height: 100vh;
}
