@import 'modules/avatar';
@import 'modules/buttons';
@import 'modules/card-list';
@import 'modules/experiment-details';
@import 'modules/experiment-list';
@import 'modules/footer';
@import 'modules/legal-information';
@import 'modules/main-header';
@import 'modules/modals';
@import 'modules/settings';
@import 'modules/state-change-inner';
@import 'modules/loading';
