body {
  background: $white;
  color: $black;
  min-height: 100vh;
}

a {
  color: $blue-40;
  text-decoration: none;

  .blue &,
  .flat-blue & {
    color: $white;
  }

  .default-background & {
    color: $blue-40;
  }

  .static-page-content & {
    text-decoration: underline;
  }
}

.blue {
  background: $blue-90;
  color: $white;
  position: relative;
}

.stars {
  background-image: url('../images/stars@2x.png');
  background-position: center 16px;
  background-repeat: no-repeat;
  background-size: 1180px 346px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: $grid-unit * .5;
  z-index: 0;
}

.default-background {
  background: $white;
  color: $grey-90;
  position: relative;
}

.star-icon {
  background-image: url('../images/star.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 12px;
  height: 12px;
  margin-right: 6px;
  margin-top: 4px;
  opacity: .5;
  width: 12px;
}
