$theme-dark: $blue-90;
$theme-light: rgba(37, 0, 62, 80);
$body-gradient: linear-gradient($theme-dark, $theme-light);

body {
  background: $white;
  color: $black;
  min-height: 100vh;
}

a {
  color: $blue-40;
  text-decoration: none;

  .blue &,
  .flat-blue & {
    color: $white;
  }

  .default-background & {
    color: $blue-40;
  }

  .static-page-content & {
    text-decoration: underline;
  }
}

.blue {
  background-color: $white;
  background-image: $body-gradient;
  color: $white;
  position: relative;
}

.stars {
  @include hidpi-background-image('stars', 1180px 346px);
  background-position: center 16px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: $grid-unit * .5;
  z-index: 0;
}

.default-background {
  background: $white;
  color: $grey-90;
  position: relative;
}
