// These are black and white
$black: #000;
$white: #fff;

//These are handy transparencies
$transparent-black-05: rgba($black, .05);
$transparent-black-1: rgba($black, .1);
$transparent-black-15: rgba($black, .15);
$transparent-black-2: rgba($black, .2);
$transparent-black-3: rgba($black, .3);
$transparent-black-34: rgba($black, .34);
$transparent-black-4: rgba($black, .4);
$transparent-black-5: rgba($black, .5);
$transparent-black-6: rgba($black, .6);
$transparent-black-7: rgba($black, .7);
$transparent-black-8: rgba($black, .8);
$transparent-black-9: rgba($black, .9);
$transparent-white-05: rgba($white, .05);
$transparent-white-1: rgba($white, .1);
$transparent-white-2: rgba($white, .2);
$transparent-white-3: rgba($white, .3);
$transparent-white-4: rgba($white, .4);
$transparent-white-5: rgba($white, .5);
$transparent-white-6: rgba($white, .6);
$transparent-white-7: rgba($white, .7);
$transparent-white-8: rgba($white, .8);
$transparent-white-9: rgba($white, .9);
$transparent-white-96: rgba($white, .96);

// common font-weight mappings
// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Common_weight_name_mapping
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-heavy: 900;

// These are used in feedback forms

// These are for corners
$large-border-radius: 5px;
$small-border-radius: 3px;
$circle-border-radius: 50%;

// These are base units for fonts and spacing
$grid-unit: 20px;
$font-unit: 12px;
$line-unit: 18px;

// Error status-bar reds
$error-red-background: #f3bcb8;
$error-red-border: #f5570e;

// "Just {Launched,Updated}" blue
$bright-blue: #1e98f5;
// updates blues
$dark-over-darkest-blue: #163875;
$dark-over-darkest-blue-highlight: #0a75ba;

// End-of-life (eol) oranges
$eol-dark-orange: #f46323;
$eol-orange: #ff9300;
$eol-light-orange: rgba($eol-orange, .25);

@mixin flex-container($direction, $justification: flex-start, $alignment: stretch, $wrap: nowrap) {
  display: flex;
  @if $alignment != 'stretch' {
    align-items: $alignment;
  }
  @if $direction != 'row' {
    flex-direction: $direction;
  }
  @if $justification != 'flex-start' {
    justify-content: $justification;
  }
  @if $wrap != 'nowrap' {
    flex-wrap: $wrap;
  }
}

// Breakpoint controls
$breakpoints: (
  big: '(min-width: 1020px)',
  medium: '(max-width: 1019px)',
  small: '(max-width: 768px)',
  not-small: '(min-width: 769px)',
  mobile: '(max-width: 520px)'

);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin show-on-small($display: block) {
  @include respond-to('not-small') {
    display: none;
  }

  @include respond-to('small') {
    display: $display;
  }
}

@mixin hide-on-small($display: block) {
  @include respond-to('not-small') {
    display: $display;
  }

  @include respond-to('small') {
    display: none;
  }
}
