html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 26px;
}

a {
  color: $default;
}

// RECYCLABLE LITTLE BITS THAT
// PROBABLY DON'T REQUIRE STAND ALONE
// MODULES

// LAYOUT

.wrapper {
  @include flex-container(default, space-between, top, nowrap, true);
  position: relative;
}

.main-content {
  @include wrapper;
  animation: fade-in 500ms;
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.vertical-flex-container {
  flex: 1;
  flex-direction: column;
}

.vertical-centering-container {
  @include flex-container(column, center, center);
}

// TEXT FORMATTING

.subtitle {
  font-size: 16px;
}

.copy {
  line-height: 2.5rem;
  margin-bottom: 24px;
}

.caption {
  font-size: 12px;
  margin: 6px 0 0 6px;
}

a.base {
  color: inherit;
  text-decoration: none;
}
