@mixin layout-wrapper() {
  clear: both;
  margin: 0 auto;
  width: 1024px;
}

@mixin flex-container($direction, $justification, $alignment, $wrapper: false) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
  @if ($wrapper) {
    @include layout-wrapper;
  }
}
