@import 'modules/settings';
@import 'modules/buttons';
@import 'modules/footer';
@import 'modules/main-content';
@import 'modules/sticky-header';
@import 'modules/modals';

// View modules contain all styles directly related
// to an individual page.
// The names of each corresponds to an ID on
// the body of each tag.

@import 'modules/cta-view';
@import 'modules/idea-view';
@import 'modules/list-view';
