.hidden {
  opacity: 0;
}

.no-display {
  display: none;
}

.fade-in {
  animation: fade-in 200ms forwards;
}

.delayed-fade-in {
  animation: fade-in 500ms forwards;
  animation-delay: 1000ms;
  opacity: 0;
}

.hover {
  animation: hover 1000ms infinite alternate ease-in-out;
}

.fly-up {
  animation: fly-up 1000ms forwards ease-out;
}

.fly-up-fade-in {
  animation: fly-up-fade-in 1000ms forwards ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hover {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 15px);
  }
}

@keyframes fly-up {
  100% {
    transform: translate(0, -120px);
  }
}

@keyframes fly-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0, 400px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
  
  100% {
    transform: scale(1);
  }
}
