$black: #000;
$white: #fff;
$default: #0c99d5;
$default-dark: #005a98;
$primary: #6fbe4a;
$wash: #e2eaed;
$baby-blue: #bee1f5;
$dark: #2c2c2c;
$light: #f2f2f2;
$transparent-white: rgba($white, .6);
$transparent-black: rgba($black, .3);
$trasparent-wash: rgba($wash, .96);
$transparent-stick: rgba($white, .96);

$feedback-modal-width: 300px;
$feedback-modal-border-radius: 5px;

// Color Management
@mixin color-scheme-special ($border-top: false) {
  @include hidpi-background-image('grad-background', 1200px 984px);
  background-color: $default;
  background-position: center top;
  background-repeat: no-repeat;
  @if($border-top) {
    border-top: 6px solid $white;
  }
  color: $white;
}

@mixin color-scheme-special-inverse($border-top: false) {
  @include hidpi-background-image('grad-background', 1200px 984px);
  background-color: $white;
  background-position: center top;
  background-repeat: no-repeat;
  @if($border-top) {
    border-top: 6px solid $default;
  }
  color: $dark;
}

@mixin color-scheme($color, $background) {
  background: $background;
  color: $color;
}

// Font Management
@mixin outline-text($outline: $white) {
  text-shadow: -1px -1px 0 $outline,
               1px -1px 0 $outline,
               -1px 1px 0 $outline,
               1px 1px 0 $outline;
}


//Image Manangement
@mixin hidpi-background-image($filename, $background-size: 'mixed', $extension: png) {
  background-image: url('../images/#{$filename}.#{$extension}');
  @if ($background-size != 'mixed') {
    background-size: $background-size;
  }
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      background-image: url('../images/#{$filename}@2x.#{$extension}');
    }
}
