#tabzilla {
  @include respond-to('small') {
    display: none;
  }

  &:before {
    background: $medium;
  }

  a {
    &:focus {
      background-color: transparent;
      outline: 2px dotted $white;
    }
  }
}

.dark {
  background: $dark;
}

.medium {
  background: $medium;
}

.light {
  background: $light;
}

.fancy-clear {
  background-image: repeating-linear-gradient(118deg, $translucent-one 0, $translucent-one 250px, $translucent-two 250px, $translucent-one 800px, $translucent-two 800px, $translucent-one 950px);
  background-position: center top;
}
