@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

.step-modal {
  min-height: 400px;
  width: unset;

  .step-text {
    background: $white;
    display: block;
    margin: 0 auto;
    max-width: 550px;
    padding: 0 0 ($grid-unit * .25);
    text-align: center;

    p {
      margin: 0;
      padding: $grid-unit * .5;
    }

    a {
      color: $blue-60;
      margin: $grid-unit * .5;
    }

    .button {
      background-color:  $blue-60;
      color: $white;
    }
  }

  .dot-wrapper {
    bottom: -30px;
    left: 50%;
    position: absolute;
  }

  .dot-row {
    @include flex-container(row, center, center);
    background: transparent;
    bottom: 5px;
    height: 12px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .dot {
    background: $white;
    border-radius: $circle-border-radius;
    cursor: pointer;
    flex: 0 0 12px;
    height: 12px;
    margin: 0 3px;
    opacity: .6;

    &.current {
      background: $white;
      border: 0;
      opacity: 1;
    }
  }

  .step-title {
    margin-bottom: 10px;
  }

  .step-image {
    @include flex-container(row, center, center);
    height: 332px;
    margin: 40px auto 10px;
    overflow: hidden;
    position: relative;
    width: 580px;

    img {
      width: 100%;
    }

    .fade {
      background: linear-gradient(transparent, $white);
      bottom: 0;
      content: '';
      height: 120px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .step-actions {
    @include flex-container(row, space-between, center);
    height: 92px;
    left: -7.8%;
    padding: 20px;
    position: absolute;
    top: 40%;
    width: 115.6%;
  }

  .step-next,
  .step-back,
  .step-done {
    @include flex-container(row, center, center);
    border-radius: $circle-border-radius;
    box-shadow: 0 0 5px 1px $transparent-black-2, 0 0 0 1px $transparent-black-3;
    cursor: pointer;
    height: $grid-unit * 3;
    transition: background-color 150ms;
    width: $grid-unit * 3;

    &.no-display {
      display: none;
    }
  }

  .step-next {
    animation: pop 150ms ease-in;
    animation-delay: 700ms;
  }

  .step-next,
  .step-back,
  .step-done {
    background: $white;

    & > .step-filler {
      background-position: center center;
      background-repeat: no-repeat;
      height: $grid-unit;
      opacity: .8;
      width: $grid-unit;
    }

    &:hover {
      background-color: $grey-10;
    }
  }

  .step-done > .step-filler {
    background-image: url('../../../images/done.svg');
  }

  .step-back > .step-filler {
    background-image: url('../../../images/icon-Arrow.svg');
  }

  .step-next > .step-filler {
    background-image: url('../../../images/icon-Arrow.svg');
    transform: rotate(180deg);
  }
}
