<!doctype html>
<html>
<head>
    <title>Idea Town</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300">
    <link rel="stylesheet" href="{{ static('styles/main.css') }}">
</head>
<body>
  <div id="main-content">
    <header></header>
    <div data-hook="page-container"></div>

    <!-- absolutely-positioned, conditionally-displayed components at the bottom of the page -->
    <!-- notification bar will pop down from the top of the screen -->
    <div id="notification-bar" hidden></div>
  </div>
  <div id="footer"></div>

  <script src="{{ static('app/app.js') }}"></script>

</body>
</html>
