@import '../../../styles/_utils';

.main-install__spacer {
  height: 40px;
}

.main-install__button {
  @include respond-to('not-small') {
    font-size: 26px;
    height: 92px;
    line-height: $grid-unit * 3;
    min-width: $grid-unit * 19;
    padding: 0 20px;
  }

  @include respond-to('medium') {
    font-size: 21px;
    min-width: $grid-unit * 16;
  }

  @include respond-to('small') {
    font-size: 21px;
    height: $grid-unit * 4;
    min-width: $grid-unit * 16;
  }

  border-radius: $large-border-radius;
  box-shadow: 0 2px 0 $transparent-black-2, 0 -2px 0 $transparent-black-2 inset;
  font-weight: 500;
  text-shadow: 0 2px 0 $transparent-black-1;
}

.main-install__one-click {
  @include flex-container(column, center, center);
  @include respond-to('not-small') {
    line-height: 30px;
  }

  @include respond-to('small') {
    line-height: 24px;
  }

  .main-install__minor-cta {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }
}

.main-install__download {
  @include respond-to('small') {
    margin: $grid-unit auto;
  }

  @include flex-container(row, center, center);
  color: $white;
  cursor: auto;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  height: 92px;
  margin: $grid-unit 0 0;
  padding: 8px;
  transition-duration: 250ms;
  transition-property: box-shadow, border;
  user-select: none;
  width: 280px;

  .layout-wrapper--column-center & {
    margin-left: auto;
    margin-right: auto;
  }

  .main-install__badge {
    background-color: $white;
    background-image: url('./img/download-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 50%;
    bottom: 4px;
    box-shadow: 0 2px 0 $transparent-black-2;
    height: 16px;
    padding: 14px;
    position: absolute;
    right: 2px;
    transition-duration: 150ms;
    width: 16px;
  }

  .main-install__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: .25em;
  }

  .main-install__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1em;
  }

  .main-install__copy {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-install__icon {
    background-image: url('./img/small-firefox-logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 57px 59px;
    flex: 0 0 57px;
    height: 59px;
    margin-right: 16px;
    position: relative;
  }

  &:hover .button-icon-badge {
    bottom: 0;
  }
}

.main-install__legal {
  font-size: $font-unit;
  font-weight: 300;
  line-height: $line-unit;
  margin: $grid-unit 0 0;
  position: relative;

  .layout-wrapper--column-center & {
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}

