@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

.landing-experiments {
  .more-button {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    pointer-events: none;
    position: fixed;
    text-align: center;
    width: 100%;

    a {
      cursor: pointer;
      display: flex;
      font-size: 13px;
      line-height: 15px;
      pointer-events: auto;
    }
  }

  .arrow {
    align-items: flex-end;
    background-color: $transparent-white-1;
    background-image: url('./more-experiments-button-oval.svg');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 46px 46px;
    border-radius: 10px 10px 0 0;
    color: $white;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    height: 86px;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background-color 125ms, background-position 125ms, box-shadow 125ms;

    &:hover {
      background-color: $transparent-white-2;
      background-position: center 13px;
      box-shadow: 0 0 0 3px $transparent-white-5;

      &::before,
      &::after {
        top: 13px;
      }
    }
  }

  .arrow::before {
    animation: move 2.5s infinite ease-out;
    background-image: url('./more-experiments-button-arrow.svg');
    background-position: center 8px;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 46px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    transition: top 125ms;
    width: 46px;
  }

  .arrow::after {
    animation: move 2.5s infinite ease-out .75s;
    background-image: url('./more-experiments-button-arrow.svg');
    background-position: center 8px;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 46px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    transition: top 125ms;
    width: 46px;
  }

  @keyframes move {
    0% {
      background-position: center 8px;
      opacity: 0;
    }

    24% {
      background-position: center 17px;
      opacity: 1;
    }

    48% {
      background-position: center 20px;
      opacity: 0;
    }
  }

  &.isvisible {
    .more-button {
      display: none;
    }
  }
}
