html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
}

h2 {
  @include respond-to('small') {
    margin-bottom: $grid-unit * .5;
    margin-top: $grid-unit * .5;
  }

  font-size: 3 * $font-unit;
  line-height: 3 * $line-unit;
}

h3 {
  font-size: 1.875 * $font-unit;
  font-weight: 400;
}

p {
  line-height: 1.5 * $line-unit;
}

.parens {
  font-size: $font-unit;
  margin-bottom: $grid-unit * .5;
}

.emphasis {
  font-style: italic;
}

.lighter {
  font-weight: 300;
}

.centered {
  text-align: center;
}
