#full-page-wrapper {
  flex: 1;
  min-height: 100vh;
  width: 100%;

  &.space-between {
    @include flex-container(column, space-between, center);
  }

  &.centered {
    @include flex-container(column, center, center);
  }
}

%content-wrapper {
  @include respond-to('big') {
    padding: 0 $grid-unit * .5;
    width: $grid-unit * 50;
  }

  @include respond-to('medium') {
    padding: 0 $grid-unit * .5;
    width: $grid-unit * 38.4;
  }

  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: width 500ms;
}

.content-wrapper {
  @extend %content-wrapper;
}

.responsive-content-wrapper {
  @extend %content-wrapper;

  @include respond-to('small') {
    margin-left: 4%;
    margin-right: 4%;
    padding: 0;
    width: 92%;
  }
 }

.spacer {
  height: $grid-unit * 2.5;
}

.block {
  display: block;
}
