#full-page-wrapper {
  flex: 1;
  min-height: 100vh;
  width: 100%;

  &.space-between {
    @include flex-container(column, space-between, center);
  }

  &.centered {
    @include flex-container(column, center, center);
  }
}

.content-wrapper {
  @include respond-to('big') {
    width: 1000px;
  }

  @include respond-to('medium') {
    width: 768px;
  }

  margin: 0 auto;
  transition: width 500ms;
}

.spacer {
  height: 50px;
}

.legal-information {
  font-size: 12px;
  margin: 0;
  padding: 0 0 10px;
  text-align: center;

  a {
    text-decoration: underline;
  }
}
