.no-display {
  display: none;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in 500ms forwards;
}

.delayed-fade-in {
  animation: fade-in 500ms forwards;
  animation-delay: 500ms;
  opacity: 0;
}

.spin {
  animation: spin 1000ms;
}

.fly-down {
  animation: fly-down 500ms forwards ease-out;
}

.fly-out {
  animation: fly-out 500ms forwards ease-in;
}

.fly-up {
  animation: fly-up 500ms forwards ease-out;
}

.quick-pop {
  animation: pop 200ms;
}

.modal-bounce-in {
  animation: bounceInUp 750ms;
}

.fade-in-fly-up {
  animation: fade-in-fly-up 500ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fly-down {
  0% {
    transform: translate(0, -130px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fly-up {
  0% {
    transform: translate(0, 130px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fade-in-fly-up {
  0% {
    opacity: 0;
    transform: translate(0, 130px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barberpole {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100px 50px;
  }
}

// this comes from here:
// https://github.com/daneden/animate.css/blob/master/source/bouncing_entrances/bounceInUp.css

@keyframes bounceInUp {
  from,
  60%, 
  75%, 
  90%, 
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
