.no-display {
  display: none;
}

.hidden {
  visibility: hidden;
}

.delayed-fade-in-up {
  animation: fade-in-up 500ms forwards ease-out;
  animation-delay: 400ms;
  opacity: 0;
  position: relative;
}

.fly-down {
  animation: fly-down 500ms forwards ease-out;
  transform: translate(0, -130px);
}

.fly-up {
  animation: bounceInUp 1200ms ease-out forwards;
  transform: translate3d(3000px, 0, 0);
}

.quick-pop {
  animation: pop 200ms;
}

.modal-bounce-in {
  animation: bounceInUp 750ms;
}

.fade-in-fly-up {
  animation: fade-in-fly-up 500ms;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 120px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fly-down {
  0% {
    transform: translate3d(0, -130px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

// Used on error and 404 pages
@keyframes fade-in-fly-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 130px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Used on settings dots and now active trobber
@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

// Used for the loader abuttons
@keyframes barberpole {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100px 50px;
  }
}

// Used to hover the copter
@keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 10px, 0);
  }
}

// Used to bring in feedback forms
// this comes from here:
// https://github.com/daneden/animate.css/blob/master/source/bouncing_entrances/bounceInUp.css

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 600px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

