body {
  background: $body-background;
  color: $black;
}

a {
  color: $default;
  text-decoration: none;

  .blue &,
  .flat-blue & {
    color: $white;
  }
}

.blue {
  background-color: $darkest-blue-step;
  background-image: radial-gradient(ellipse 250% 100% at center 140%, $light-blue-step 12%, $dark-blue-step 50%, $darkest-blue-step 100%);
  color: $white;
  overflow: hidden;
  position: relative;
}

%stars {
  @include hidpi-background-image('stars', 1180px 346px);
  background-position: center top;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}

.stars {
  @extend %stars;
  top: $grid-unit * 1.75;
}

.shifted-stars {
  @extend %stars;
  top: -$grid-unit * .5;
}

.default-background {
  background: $body-background;
  position: relative;
}

.transparent-container {
  background: $transparent-white-1;
  color: $white;
  padding: $grid-unit * .25 0;
}

.flat-blue {
  background: $darkest-blue-step;
  color: $white;
}

.mozilla-logo {
  @include hidpi-background-image('mozilla-blue', 77px 20px);
  background-repeat: no-repeat;
  flex: 0 0 77px;
  height: 20px;
  position: relative;
  top: -3px;
  width: 77px;

  .blue & {
    @include hidpi-background-image('mozilla', 77px 20px);
  }
}

.firefox-icon {
  background: url('../images/fox.svg');
}

.add-on-icon {
  background: url('../images/add-on.svg');
  left: 9px;
  top: -2px;
}

.test-pilot-icon {
  background: url('../images/testpilot.svg');
}
