$black: #000;
$white: #fff;

$default: #0996f8;
$default-dark: #0675d3;
$default-darker: #0568ba;
$default-light: #2ea3ff;

$primary: #57bd35;
$primary-light: #e2fddc;
$primary-dark: #40a624;
$primary-darker: #399320;
$primary-darkest: #2e761a;


$dark: #2c2c2c;
$light: #f2f2f2;

$feedback-modal-grey: #bbb;

$secondary-button-background: #e7e7e7;
$secondary-button-border: #ccc;

$fb-blue: #3b5998;
$twitter-blue: #4099ff;

$transparent-black-1: rgba($black, .1);
$transparent-black-2: rgba($black, .2);
$transparent-black-3: rgba($black, .3);
$transparent-black-4: rgba($black, .4);
$transparent-black-5: rgba($black, .5);
$transparent-black-6: rgba($black, .6);
$transparent-black-7: rgba($black, .7);
$transparent-black-8: rgba($black, .8);
$transparent-black-9: rgba($black, .9);

$transparent-white-1: rgba($white, .1);
$transparent-white-2: rgba($white, .2);
$transparent-white-3: rgba($white, .3);
$transparent-white-4: rgba($white, .4);
$transparent-white-5: rgba($white, .5);
$transparent-white-6: rgba($white, .6);
$transparent-white-7: rgba($white, .7);
$transparent-white-8: rgba($white, .8);
$transparent-white-9: rgba($white, .9);
$transparent-white-96: rgba($white, .96);

$transparent-primary-7: rgba($primary, .7);

$transparent-default-1: rgba($default, .1);

$feedback-modal-width: 300px;
$feedback-modal-border-radius: 5px;

$grid-unit: 20px;
