// These are black and white
$black: #000;
$white: #fff;

//These are handy trasparencies
$transparent-black-02: rgba($black, .02);
$transparent-black-05: rgba($black, .05);
$transparent-black-1: rgba($black, .1);
$transparent-black-2: rgba($black, .2);
$transparent-black-3: rgba($black, .3);
$transparent-black-4: rgba($black, .4);
$transparent-black-5: rgba($black, .5);
$transparent-black-6: rgba($black, .6);
$transparent-black-7: rgba($black, .7);
$transparent-black-8: rgba($black, .8);
$transparent-black-9: rgba($black, .9);
$transparent-white-05: rgba($white, .05);
$transparent-white-1: rgba($white, .1);
$transparent-white-2: rgba($white, .2);
$transparent-white-3: rgba($white, .3);
$transparent-white-4: rgba($white, .4);
$transparent-white-5: rgba($white, .5);
$transparent-white-6: rgba($white, .6);
$transparent-white-7: rgba($white, .7);
$transparent-white-8: rgba($white, .8);
$transparent-white-9: rgba($white, .9);
$transparent-white-96: rgba($white, .96);

// These are button and waring colors
$default: #0996f8;
$default-dark: #0675d3;
$default-darker: #0568ba;
$default-light: #2ea3ff;
$transparent-default: rgba($default, .2);

$primary: #57bd35;
$primary-light: #e2fddc;
$primary-dark: #40a624;
$primary-darker: #399320;
$primary-darkest: #2e761a;

$warning-red-darkest: #881606;
$warning-red-darker: #aa1b08;
$warning-red-dark: #c21f09;
$warning-red-default: #d92215;
$warning-red-light: #ee4b36;
$warning-red-lighter: #f67964;
$warning-red-lightest: #ffa792;

$secondary-button-background: #e7e7e7;
$secondary-button-border: #ccc;

// These are used in feedback forms
$transparent-warning-lightest-5: rgba($warning-red-lightest, .5);
$disabled-grey: #8a9ba8;
$feedback-modal-grey: #bbb;

// These are used in blue backgrounds
$body-background: #fcfcfc;
$darkest-blue-step: #1e4488;
$dark-blue-step: #0065b8;
$light-blue-step: #737ffd;

// These are for corners
$large-border-radius: 5px;
$small-border-radius: 3px;
$circle-border-radius: 50%;

// These are base units for fonts and spacing
$grid-unit: 20px;
$font-unit: 12px;
$line-unit: 18px;
