@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

.newsletter-form {
  @include flex-container(column, center, flex-start);

  input[type='email'],
  button {
    @include respond-to('small') {
      margin-left: 0;
    }

    border-radius: $small-border-radius;
    box-shadow: none;
    line-height: $font-unit * 1.6;
    margin-left: 10px;
    padding: ($grid-unit * .75) ($grid-unit * .5);
    width: 100%;
  }

  input[type='email'] {
    @include respond-to('small') {
      margin-left: 0;
    }

    border: 0;
    color: $black;
    margin: $grid-unit * .5 0 $grid-unit * .5 $grid-unit * .5;

    &::placeholder {
      color: $transparent-black-7;
    }
  }

  input[type='checkbox'] {
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    background: url('./img/checks.svg') no-repeat left;
    background-position: 0 0;
    background-size: 96px 24px;
    box-shadow: none;
    flex: 0 0 24px;
    height: 24px;
    margin-right: 10px;
    overflow: hidden;
    width: 28px;
  }

  input[type='checkbox']:hover {
    background-position: -24px 0;
  }

  input[type='checkbox']:checked {
    background-position: -48px 0;
  }

  input[type='checkbox']:checked:hover {
    background-position: -72px 0;
  }

  label {
    font-size: $font-unit;
    line-height: 20px;
    text-align: left;

    a {
      text-decoration: underline;
    }
  }

  .revealed-field {
    @include flex-container(row, center, center);
    height: 0;
    margin: 0 $grid-unit * .5 $grid-unit * .5;
    transform: scaleY(0);
    transition: transform 125ms;
    width: 100%;

    &.reveal {
      height: 40px;
      transform: scaleY(1);
    }
  }

  p.disclaimer {
    padding: $grid-unit * .5 $grid-unit * .5 0;
    text-align: center;
    width: 100%;
  }
}

.newsletter-form-modal {
  input[type='email'] {
    border: 1px solid $transparent-black-3;
    margin: 10px auto;
    max-width: 360px;
  }

  a {
    color: $blue-40;
  }
}

.newsletter-form-submitting {
  animation: barberpole 1000ms infinite linear;
  background-image: linear-gradient(
    45deg,
    $transparent-white-1 25%,
    transparent 25%,
    transparent 50%,
    $transparent-white-1 50%,
    $transparent-white-1 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
}
