@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

.graduated-notice {
  @include respond-to('medium') {
    @include flex-container(column, center, flex-start);
  }

  @include flex-container(row, center, center);
  border: 2px dashed $orange-50;
  border-radius: 2px;
  margin-bottom: 32px;
  padding: 16px;
}

.graduated-notice-image {
  @include respond-to('medium') {
    display: none;
  }

  flex: 0 0 20px;
  margin-right: 12px;
  max-width: 20px;
}

.graduated-notice-text {
  @include respond-to('medium') {
    margin: 0 0 $grid-unit;
  }

  flex: 1;
  margin-right: 28px;
}

.graduated-notice-text h1 {
  font-size: 15px;
  font-weight: $weight-semi-bold;
  line-height: 18px;
  margin: 0;
}

.graduated-notice-text p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.graduated-notice-button {
  @include flex-container(row, center, center);
  font-size: 15px;
  padding: 0 32px;
  white-space: nowrap;
}
