attrs==18.1.0
pluggy==0.7.1
PyPOM==2.1.0
pytest==3.7.1
pytest-selenium==1.13.0
pytest-firefox==0.1.1
pytest-repeat==0.7.0
pytest-xdist==1.22.5
pytest-variables==1.7.1
requests==2.19.1
selenium==3.14.0
