.full {
  clear: both;
  margin: 0;
}

.wrapper {
  margin: 0 auto;

  @include respond-to('small') {
    padding: 20px 2%;
    width: 100%;
  }

  @include respond-to('med-small') {
    padding: 20px;
    width: 100%;
  }

  @include respond-to('med-large') {
    padding: 20px;
    width: 768px;
  }

  @include respond-to('large') {
    width: 980px;
  }

  &-null {
    @extend .wrapper;
    padding: 0;
  }
}

.row {

  @include clear-fix;

  @include respond-to('med-large') {
    margin: 0 -10px;
  }
}

.third {
  margin-bottom: 30px;
  width: 100%;

  @include respond-to('med-large') {
    float: left;
    margin: 10px;  
    width: 229px;
  }

  @include respond-to('large') {
    margin: 20px;
    width: 280px;
  }
}
