$white: #fff;
$black: #000;
$grey: #444;
$blur-grey: #8a9ba8;
$disabled-grey: #8a9ba8;
$background: #f2f2f2;

$dark: #329dcc;
$medium: #0c99d5;
$light: #e2eaed;
$cta: #6cc042;
$error: #e45656;

$translucent-one: rgba(255, 255, 255, .05);
$translucent-two: rgba(255, 255, 255, .1);

$small-radius: 3px;

$slow: 1000ms;
$fast: 150ms;
