@import '../../../styles/_utils';

.toolbar-button-onboarding {
  background-image: url('img/toolbar-button-onboarding@2x.png');
  background-size: 382px 182px;
  height: 182px;
  margin: auto auto $grid-unit -10px;
  width: 382px;
}

.modal {
  &#onboarding {
    width: $grid-unit * 21;
  }
}
