@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

$news-feed-page-border: rgba(6, 79, 157, .7);
$news-feed-background: #0c3c7e;
$news-feed-color: rgb(0, 148, 251);
$news-feed-box-shadow: #111648;

#news-feed-page {
  border-left: 2px solid $news-feed-page-border;
  margin: 50px 30px;
  padding-left: 30px;
  position: relative;

  > h1 {
    @include respond-to('small') {
      padding-bottom: 0;
    }

    font-weight: 300;
    margin-top: -6px;
    padding-bottom: 50px;
    position: relative;

    &::before {
      background: $news-feed-background;
      border: 2px solid $blue-50;
      border-radius: 50%;
      box-shadow: 0 0 0 4px $news-feed-box-shadow;
      color: $news-feed-color;
      content: '';
      height: 21px;
      left: -42px;
      line-height: 130%;
      padding-left: 3px;
      position: absolute;
      top: 0;
      width: 21px;
    }

    &::after {
      background: $blue-50;
      border-radius: 50%;
      content: '';
      height: 9px;
      left: -36px;
      position: absolute;
      top: 6px;
      width: 9px;
    }
  }

  .update {
    position: relative;

    &::before {
      background: $blue-50;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $news-feed-box-shadow;
      content: '';
      height: 10px;
      left: -37px;
      position: absolute;
      top: 47%;
      width: 10px;
    }
  }
}

@include respond-to('small') {
  #news-feed-page {
    border-left: 0;
    margin-top: 20px;
    padding-left: 0;

    > h1 {
      text-align: center;
    }
  }
}
