<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block page_title %}{% endblock %} | Idea Town</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url('home') }}">Home</a></li>
                    {% if request.user.is_authenticated() %}
                    <li>Signed in as: <a href="{{ url('account_profile') }}">{{ request.user.email }}</a></li>
                    <li><a href="{{ url('account_logout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url('account_login') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
        {% block footer %}
        {% endblock %}
    </body>
</html>
