/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

/* Styles for the stub content */
body, html { margin: 1em; padding: 0; }

.when-addon-available { display: none; }
.when-addon-unavailable { display: block; }

body.addon-available .when-addon-available { display: block; }
body.addon-available .when-addon-unavailable { display: none; }
