@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

$input-border: #c1c1c1;

#share {
  width: 600px;

  p {
    font-size: 16px;
  }

  .modal-content {
    margin: 10px auto;
    max-width: 420px;
  }

  .share-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: $grid-unit 0;
    padding: 0;

    li {
      margin-right: $grid-unit;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      background-repeat: no-repeat;
      background-size: auto;
      display: inline-block;
      height: 60px;
      overflow: hidden;
      text-indent: -9999px;
      width: 60px;
    }

    .share-facebook a {
      background-image: url('../../../images/share-facebook.svg');
    }

    .share-twitter a {
      background-image: url('../../../images/share-twitter.svg');
    }

    .share-email a {
      background-image: url('../../../images/share-email.svg');
    }
  }

  .share-url-wrapper {
    border: 0;
    margin: $grid-unit 0 0;
    padding: 0;
  }

  .share-url {
    @include flex-container(row, space-between);

    input {
      background: transparent;
      border: 1px solid $input-border;
      border-radius: $medium-border-radius;
      color: $grey-90;
      flex: 1 1 80%;
      font-size: $font-unit * 1.25;
      height: 48px;
      line-height: $font-unit * 1.75;
      padding: $grid-unit * .6;
    }

    .button {
      border: 0;
      border-radius: $medium-border-radius;
      font-size: 15px;
      height: 48px;
      margin-left: 10px;
      padding: 2px 25px;
    }
  }
}
