/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the 'License'). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

@font-face {
    font-family: Open Sans;
    src: url('OpenSans-Regular.ttf');
}

html, body, ul, #content {
    background: #fff;
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    outline: 0;
    text-decoration: none;
}

.button {
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 100ms;
    width: 80%;
}

.button.default {
    background: #0996f8;
    color: #fff;
}

.view-all {
    background: #e5e5e5;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background 100ms;
}

.view-all:hover {
    background: rgba(0, 0, 0, 0.2);
}

.experiment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.experiment-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.experiment-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("dh-arrow.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

@media (min--moz-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
    .doorhanger-experiment:hover {
        background-image: url("dh-arrow@2x.png");
    }
}

.icon-wrapper {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
    flex: 0 0 50px;
    height: 50px;
    position: relative;
    transition: background 100ms;
}

.active .icon-wrapper {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #57bd35;
}

.active .icon-wrapper:after {
    background-color: #57bd35;
    background-image: url("check.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 9px;
    border: 2px solid #fff;
    border-radius: 50%;
    content: '';
    height: 24px;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 24px;
}

@media (min--moz-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
    .active .icon-wrapper:after {
        background-image: url("check@2x.png");
    }
}

.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
}

.experiment-title {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 0 20px;
}

.active-span {
    display: none;
}

.active .active-span {
    display: block;
    color: #57bd35;
    font-size: 14px;
}

.installed-message {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.installed-message p {
    font-size: 1.2rem;
}

.installed-message .button {
    font-size: 16px;
}

.copter-wrapper {
    align-items: center;
    background-color: rgba(9, 150, 248, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 170px;
}

.copter {
    background-image: url("copter.png");
    @media (min--moz-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
        background-image: url('copter@2x.png');
    }
    background-size: 105px 81px;
    height: 81px;
    position: relative;
    width: 105px;
}

.fly-down {
    animation: fly-down 500ms forwards ease-out;
}

.quick-pop {
    animation: pop 200ms;
}
