@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

.update-list {
  @include respond-to('small') {
    margin: 0 0 30px;
  }

  margin: -40px 0 40px;
  width: 100%;

  .more-news {
    margin-top: 10px;
  }
}

.update {
  align-items: center;
  border: 1px transparent solid;
  border-radius: 4px;
  box-shadow: 0 -2px 0 $transparent-black-05 inset;
  cursor: default;
  display: flex;
  margin-bottom: 8px;
  opacity: .9;
  padding: 36px 24px;
  width: 100%;

  .update-content {
    flex-grow: 1;

    header {
      @include flex-container(row, flex-start, center);
      margin-bottom: 1px;
    }
  }

  .update-experiment-icon-wrapper {
    border-radius: 50%;
    height: 54px;
    margin-right: 40px;
    width: 54px;
  }

  .update-experiment-icon {
    @include respond-to('small') {
      margin-right: 10px;
      padding: 15px;
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px auto;
    border-radius: 50%;
    height: 54px;
    overflow: hidden;
    width: 54px;
  }

  .news-update-test-pilot-icon {
    background-color: $transparent-black-3;
    background-image: url('./img/test-pilot-news-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 32px;
    border: 2px solid $transparent-black-5;
  }



  .new-wrap {
    display: flex;

    p {
      margin: 0;
    }
  }

  .star-icon {
    margin-left: 30px;
    margin-right: 10px;
  }

  h2,
  h2.update-title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0 0 1px;
  }

  h4.update-title {
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0 6px;
  }

  .summary {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    margin: 10px 0 0;
    padding-right: 100px;
  }

  .en-article-notice {
    color: $blue-40;
    display: flex;
    font-size: 15px;

    p {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  .en-link-icon {
    background-image: url('./img/open-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15px;
    margin: 12px 10px 0;
    width: 15px;
  }

  .link-chevron {
    .chevron {
      background: transparent;
      display: block;
      height: 21px;
      width: 12px;
    }
  }

  &.has-link {
    cursor: pointer;
    transition: background 50ms;

    &:hover {
      background: $transparent-white-05;
      border-color: $transparent-white-2;
    }

    &:active {
      background: $transparent-white-08;
      border-color: $transparent-white-4;
    }

    .link-chevron {
      .chevron {
        background-image: url('./img/news-link-chevron.svg');
        background-repeat: no-repeat;
        background-size: 12px 21px;
      }
    }
  }
}

.up-date {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  margin: 0 0 0 12px;
  opacity: .7;
  padding-top: 5px;
}
