@import '../../../styles/_utils';

.banner {

  @include respond-to('small') {
    text-align: center;
  }

  position: relative;

  .banner__copy {
    @include respond-to('medium') {
      font-size: $font-unit * 1.6;
      line-height: $font-unit * 2.4;
    }

    @include respond-to('small') {
      font-size: $font-unit * 1.5;
      line-height: $font-unit * 2.2;
    }

    font-size: $font-unit * 2;
    line-height: $font-unit * 2.5;
    margin: 0 0 $grid-unit * .5;
    max-width: $grid-unit * 25;
  }

  .banner__title {
    @include respond-to('medium') {
      font-size: 40px;
      line-height: 40px;
    }

    @include respond-to('small') {
      font-size: 28.6px;
      line-height: 28.6px;
    }

    font-size: $grid-unit * 2;
    line-height: $grid-unit * 2.3;
    font-style: oblique;
    font-weight: 300;
  }

  .banner__subtitle {

    @include respond-to('medium') {
      font-size: 28px;
      line-height: $font-unit * 3.2;
    }

    @include respond-to('small') {
      font-size: 28.6px;
      line-height: 36px;
    }

    font-size: 33px;
    font-style: oblique;
    font-weight: 300;
    line-height: 40px;
    margin: $grid-unit * .5 0 $grid-unit * 1.5;
  }

  .banner__title,
  .banner__subtitle {
    text-shadow: 0 2px 0 $transparent-black-3;
  }

  .banner__link {
    text-decoration: underline;

    &:hover {
      opacity: .8;
    }
  }

  .banner__spacer {
    @include respond-to('small') {
      flex: 0 0 10px;
    }

    flex: 0 0 60px;
  }
}

.banner--background {
  background: linear-gradient($transparent-black-2 40px, $transparent-black-15);
}

.banner--expanded {
  padding: $grid-unit * 2 64px;

  .banner__title {
    @include respond-to('small') {
      margin: $grid-unit * .66 0;
    }

    margin: 0 0 8px;
  }

  @include respond-to('small') {
    padding: $grid-unit 2%;
  }
}

.banner--condensed {
  @include respond-to('big') {
    margin: $grid-unit * 1.6 0 $grid-unit * 4.5;
    padding: 10px 0;
  }

  @include respond-to('medium') {
    margin: $grid-unit * .5 0 $grid-unit * 4;
    padding: 10px 0;
  }

  @include respond-to('small') {
    margin: 0 0 $grid-unit * 2;
    padding: 10px 0 0;
  }

  background-color: $transparent-black-15;
  box-shadow: 0 -3px 0 $transparent-black-15 inset;

  .banner__title {

    @include respond-to('big') {
      font-size: $font-unit * 4;
      padding: $grid-unit * .8 0;
    }

    @include respond-to('medium') {
      font-size: $font-unit * 3.2;
      padding: $grid-unit * .6 0;
    }

    @include respond-to('small') {
      font-size: $font-unit * 2.2;
      line-height: $font-unit * 2.2;
      text-align: center;
    }

    font-style: oblique;
    margin: 0;
  }
}
