@import '../../../styles/_utils';

.layout-wrapper:empty {
  display: none;
}

.layout-wrapper {
  @include respond-to('big') {
    padding: 0 $grid-unit * .5;
    width: $grid-unit * 50;
  }

  @include respond-to('medium') {
    padding: 0 $grid-unit * .5;
    width: $grid-unit * 38.4;
  }

  @include respond-to('small') {
    margin-left: 4%;
    margin-right: 4%;
    padding: 0;
    width: 92%;
  }

  margin: 0 auto;
  position: relative;

  .layout-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.layout-wrapper--row-between-top {
  @include flex-container(row, space-between, top);
}

.layout-wrapper--row-bottom-breaking {
  @include respond-to('not-small') {
    @include flex-container(row, space-between, flex-end);
  }

  @include respond-to('small') {
    @include flex-container(column, flex-start, flex-start);
  }
}

.layout-wrapper--row-around-breaking {
  @include flex-container(row, space-around, center);

  @include respond-to('small') {
    @include flex-container(column, center, center);
  }
}

.layout-wrapper--row-center-breaking {
  @include flex-container(row, center, center);

  @include respond-to('small') {
    @include flex-container(column, center, center);
  }
}

.layout-wrapper--row-between-breaking {
  @include flex-container(row, space-between, center);

  @include respond-to('small') {
    @include flex-container(column, center, center);
  }
}

.layout-wrapper--row-between-reverse {
  @include flex-container(row, space-between, center);

  @include respond-to('small') {
    @include flex-container(column-reverse, center, center);
  }
}

.layout-wrapper--column-center {
  @include flex-container(column, center, center)
}

.layout-wrapper--column-center-reverse {
  @include flex-container(column-reverse, center, center)
}

.layout-wrapper--column-center-start-breaking {
  @include flex-container(column, center, flex-start)

  @include respond-to('small') {
    @include flex-container(column, center, center);
  }
}

.layout-wrapper--card-list {
  @include flex-container(row, center, stretch, wrap);

  @include respond-to('small') {
    @include flex-container(column, center, stretch);
  }

  margin: $grid-unit * 2 auto;
}

.layout-wrapper--details-content {
  @include flex-container(row, space-between, flex-start);

  @include respond-to('small') {
    @include flex-container(column, flex-start, center);
  }
}
