{% extends "testpilot/base.html" %}

{% block page_title %}{{ _('Sign up') }}{% endblock %}

{% block content %}
<h1>{{ _('Sign up') }}</h1>

<p>{% trans %}
You are about to use Firefox Accounts to login to Test Pilot.
As a final step, please complete the following form:
{% endtrans %}</p>

<form class="signup" id="signup_form" method="post" action="{{ url('socialaccount_signup') }}">
  {% csrf_token %}
  {{ form.as_p() }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{{ _("Sign up") }} &raquo;</button>
</form>
{% endblock %}

