@import '../../../styles/_utils';

.incompatible-addons,
.warning {
  background: $transparent-black-05;
  border: 1px dashed $eol-orange;
  border-radius: 3px;
  margin-bottom: $grid-unit;
  padding: $grid-unit;

  .graduation-report & {
    padding-top: 0;
  }

  header {
    @include flex-container(column, space-around, flex-start);
    background: url('./img/warning.svg') no-repeat left;
    background-size: ($grid-unit * 2) auto;
    margin: $grid-unit 0 0;
    min-height: $grid-unit * 2;
    padding-left: $grid-unit * 3;

    h3,
    p {
      line-height: $line-unit + 4;
    }
  }

  main {
    margin-top: $grid-unit * .5;
    padding-left: $grid-unit * 3;
  }

  h3,
  p,
  ul,
  li {
    font-size: $font-unit * (7 / 6);
    margin: 0;
  }

  h3 {
    font-weight: bold;
  }

  ul {
    list-style: inside;
    padding: 0;
  }
}

.warning {
  margin-bottom: 0;
  padding: 0;
}
