@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

.settings-contain {
  position: relative;
}

.settings-button {
  background-image: url('./img/settings.svg');
  background-position: 10px 2px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  opacity: .6;
  padding: 0 10px 0 32px;

  &:hover {
    opacity: .8;
  }
}

.settings-menu {
  background: $white;
  border-radius: $small-border-radius;
  box-shadow: 1px 1px 3px 1px $transparent-black-2;
  position: absolute;
  right: 0;
  top: $grid-unit * 2.25;
  width: $grid-unit * 9;
  z-index: 999;

  .user-name {
    color: $black;
    font-size: $font-unit;
    margin-bottom: $grid-unit * .25;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::after {
    border-bottom: $grid-unit * .5 solid $white;
    border-left: ($grid-unit * .5) + 1 solid transparent;
    border-right: ($grid-unit * .5) + 1 solid transparent;
    content: '';
    left: 146px;
    position: absolute;
    top: -($grid-unit * .5);
  }

  a {
    color: $blue-40;
    cursor: pointer;
    display: block;
    line-height: $line-unit * 1.5;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: $grid-unit * .5;
  }

  li {
    list-style: none;
  }

  hr {
    color: $transparent-black-2;
  }
}
