/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the 'License'). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

body {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0px 0px 0px 6px;
}

.production {
  background-image: url("./production.png");
}

.stage {
  background-image: url("./stage.png");
}

.dev {
  background-image: url("./dev.png");
}

.local {
  background-image: url("./local.png");
}
