.banner {
  @include respond-to('big') {
    font-size: 4.4 * $font-unit;
    line-height: 4.1 * $line-unit;
  }

  @include respond-to('medium') {
    font-size: 3.5 * $font-unit;
    line-height: 3.5 * $line-unit;
  }

  @include respond-to('small') {
    font-size: 3 * $font-unit;
    line-height: 3 * $line-unit;
  }

  font-weight: 300;
  text-shadow: 0 2px 0 $transparent-black-3;

  .lead-in {
    font-size: 2.7 * $font-unit;
    font-weight: 500;
    line-height: 2.7 * $line-unit;
  }

  .lead-out {
    font-size: 2.2 * $font-unit;
    font-weight: 400;
    line-height: 3.3 * $font-unit;
  }
}

.centered-banner,
.reverse-split-banner,
.split-banner {
  @include respond-to('not-small') {
    margin-bottom: $grid-unit * 1.5;
    margin-top: $grid-unit * 1.5;
  }

  @include respond-to('small') {
    margin-bottom: $grid-unit;
    margin-top: $grid-unit;
  }

  .intro-text {
    @include respond-to('small') {
      text-align: center;
    }

    p {
      @include respond-to('big') {
        font-size: $font-unit * 2.3;
        line-height: $line-unit * 2.3;
        max-width: $grid-unit * 25;
      }

      @include respond-to('medium') {
        font-size: $font-unit * 1.6;
        line-height: $line-unit * 1.6;
        max-width: $grid-unit * 19.5;
      }

      margin: 0;
      position: relative;
    }

    .legal-information {
      font-size: $font-unit;
      line-height: $line-unit;
    }
  }
}

.reverse-split-banner,
.split-banner {
  padding-bottom: $grid-unit * 2;
  padding-top: $grid-unit * 2;
}


.centered-banner {
  text-align: center;

  h2 {
    @include respond-to('not-small') {
      margin: $grid-unit * 1.5 0;
    }

    @include respond-to('small') {
      margin: $grid-unit * .75 0;
    }

    text-align: center;
  }

  span.no-display {
    display: none;
  }
}

.reverse-split-banner {
  @include respond-to('not-small') {
    @include flex-container(row-reverse, space-between, center);
  }

  @include respond-to('small') {
    @include flex-container(column, center, center);
  }
}

.split-banner {
  @include respond-to('not-small') {
    @include flex-container(row, center, center);
  }

  @include respond-to('small') {
    @include flex-container(column, center, center);
  }

  .intro-text {
    @include respond-to('big') {
      margin-right: $grid-unit * 2;
      top: -4px;
    }

    @include respond-to('medium') {
      margin-right: $grid-unit;
      top: -4px;
    }

    @include respond-to('small') {
      margin: 0;
    }
  }
}
