.button {
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  font-weight: 400;
  height: $grid-unit * 2;
  line-height: $grid-unit * 2;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 150ms;
  white-space: nowrap;

  &.no-display {
    display: none;
  }

  &.outline {
    background: none;
    border-color: $white;
    color: $white;
    opacity: .6;
  }

  &.primary {
    background: $primary;
    border: 1px solid $primary-dark;
    color: $white;

    &:hover,
    &:focus {
      background: $primary-dark;
      border: 1px solid $primary-darker;
    }

    &:active {
      background: $primary-darker;
      border: 1px solid $primary-darkest;
    }
  }

  &.secondary {
    background: $secondary-button-background;
    border: 1px solid $secondary-button-border;

    &:hover,
    &:focus {
      background: darken($secondary-button-background, 4);
      border: 1px solid darken($secondary-button-border, 4);
    }

    &:active {
      background: darken($secondary-button-background, 8);
      border: 1px solid darken($secondary-button-border, 8);
    }
  }

  &.default {
    background: $default;
    color: $white;

    &:hover,
    &:focus {
      background: darken($default, 4);
    }

    &:active {
      background: darken($default, 6);
    }
  }

  &.warning {
    background: $warning-red-light;
    border: 1px solid $warning-red-default;
    color: $white;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active,
  &.disabled:focus {
    background-color: $disabled-grey;
  }

  &.large,
  &.extra-large {
    font-size: 20px;
    height: 52px;
    line-height: 52px;
    min-width: 300px;
    padding: 0 20px;
  }

  &.extra-large {

    @include respond-to('not-small') {
      font-size: $font-unit * 2;
      height: $grid-unit * 3;
      padding: 0 $grid-unit * 1.5;
    }
    
    box-shadow: 0 2px 0 0 $transparent-black-2;
  }



  // Loading animation concept comes from
  // https://css-tricks.com/uniqlo-stripe-hovers/
  .state-change-inner {
    animation: barberpole 1000ms infinite linear;
    background-image: linear-gradient(
      45deg,
      $transparent-white-1 25%,
      transparent 25%,
      transparent 50%,
      $transparent-white-1 50%,
      $transparent-white-1 75%,
      transparent 75%,
      transparent
    );
    background-size: 50px 50px;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .1s ease;
  }

  &.state-change .default-text {
    display: none;
  }

  &:not(.state-change) .transition-text {
    display: none;
  }

  &.state-change .state-change-inner {
    opacity: 1;
  }
}

.download-firefox {
  @include flex-container(row, center, center);
  color: $white;
  cursor: auto;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  height: 92px;
  margin: $grid-unit auto 0;
  padding: 8px;
  transition-duration: 250ms;
  transition-property: box-shadow, border;
  user-select: none;
  width: 240px;

  .button-icon-badge {
    @include hidpi-background-image('download-icon', 16px 16px);
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 50%;
    bottom: 4px;
    box-shadow: 0 2px 0 $transparent-black-2;
    height: 16px;
    padding: 14px;
    position: absolute;
    right: 2px;
    transition-duration: 150ms;
    width: 16px;
  }

  .button-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: .25em;
  }

  .button-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1em;
  }

  .button-copy {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button-icon {
    @include hidpi-background-image('small-firefox-logo', 57px 59px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 57px 59px;
    height: 59px;
    margin-right: 16px;
    position: relative;
    width: 57px;
  }

  &:hover .button-icon-badge {
    bottom: 0;
  }
}

