.centered-banner {
  margin: 0 auto;
  padding: 0 0 $grid-unit * 2;
  text-align: center;

  h2 {
    margin: $grid-unit * 1.5 0;
    text-align: center;
  }

  span {
    display: block;
  }

  span.no-display {
    display: none;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  }
}
