.copter-wrapper {
  @include flex-container(row, center, center);

  @include respond-to ('big') {
    width: 345px;
  }

  @include respond-to ('medium') {
    width: 345px;
  }

  @include respond-to('small') {
    background: none;
    height: 220px;
    width: 260px;
  }
  
  margin: 0 auto;
  position: relative;
}

.copter {
  @include hidpi-background-image('copter', 328px 265px);
  @include respond-to ('big') {
    height: 265px;
    width: 345px;
  }

  @include respond-to ('medium') {
    height: 265px;
    width: 345px;
  }

  @include respond-to('small') {
    background-repeat: no-repeat;
    background-size: 260px auto;
    height: 220px;
    width: 260px;
  }
  
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
}
