.experiment-summary {

  @include flex-container(column, stretch, stretch);

  @include respond-to('big') {
    flex: 0 0 300px;
  }

  @include respond-to('medium') {
    flex: 0 0 44%;
    margin: 0 3% $grid-unit * 2;
  }

  @include respond-to('small') {
    flex: 0 1 96%;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-unit * 20;
  }

  background-color: $white;
  border-radius: $small-border-radius;
  box-shadow: 0 0 0 1px $transparent-black-1, 0 1px 0 1px $transparent-black-1;
  color: $black;
  margin-bottom: $grid-unit * 1.75;
  position: relative;
  z-index: 1;

  .blue & {
    background: $transparent-white-96;
  }

  .experiment-information {
    flex: 1;
    padding: $grid-unit;
  }

  header {
    @include flex-container(row, space-between, center);
    margin-bottom: $grid-unit * .75;
    width: 100%;
  }

  h3 {
    margin: 0;
  }

  p {
    line-height: 1.4 * $line-unit;
    margin-bottom: $grid-unit * .5;
  }

  span {
    color: $transparent-black-4;
    font-size: 1.1 * $font-unit;
    margin: 0;
  }


  &.logged-in {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 3px $transparent-white-1;
    }

    &.enabled {
      box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-green;

      &:hover {
        box-shadow: 0 0 0 3px $white, 0 0 0 6px $bright-green, 0 0 0 9px $transparent-white-1;
      }
    }
  }

  &.logged-in:hover {
    transition: box-shadow 150ms;

    h3 {
      color: $default;
      transition: color 150ms;
    }
  }
}

.experiment-actions {
  :not(.logged-in) {
    display: none;
  }

  .tab {

    .logged-in &.show-when-enabled {
      background: $bright-green;
      border-bottom-color: $white;
      border-bottom-right-radius: 5px;
      border-bottom-width: 3px;
      border-left-width: 0;
      border-right-color: $white;
      border-right-width: 3px;
      border-style: solid;
      border-top-left-radius: 6px;
      border-top-width: 0;
      color: $white;
      display: inline-block;
      font-weight: 300;
      height: $grid-unit * 1.5;
      left: -3px;
      line-height: $grid-unit * 1.5;
      outline: none;
      padding: 0 20px;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: -3px;
      transition: background 150ms;
      white-space: nowrap;
      z-index: 99999;
    }
  }
}

.experiment-icon-wrapper {
  @include flex-container(row, center, center);
  background: $transparent-black-2;
  border-radius: $small-border-radius $small-border-radius 0 0;
  box-shadow: 0 -2px 2px $transparent-white-1 inset;
  height: $grid-unit * 8;
  overflow: hidden;
  position: relative;

  &::after {
    background: $transparent-white-05;
    content: '';
    height: $grid-unit * 15;
    left: -$grid-unit * 7.5;
    position: absolute;
    top: -$grid-unit * 7.5;
    transform: rotate(45deg);
    width: $grid-unit * 15;
    z-index: 2;
  }
}

.experiment-icon {
  background-repeat: no-repeat;
  background-size: $grid-unit * 4 $grid-unit * 4;
  filter: drop-shadow(0 1px 0 $transparent-black-1);
  flex: 0 0 $grid-unit * 4;
  height: $grid-unit * 5;
  opacity: .9;
}
