.details-header-wrapper {

  &.stick {
    background: $transparent-white-96;
    box-shadow: 0 0 5px $transparent-black-5;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    + div {
      margin-top: $grid-unit * 4.8;
    }

    h1 {
      flex: 1;
      font-size: $font-unit * 3.2;
    }

    .details-header {
      margin-top: 0;
    }
  }
}

.experiment-controls {
  @include flex-container(row, flex-end, center);
  flex: 1;

  .button {
    margin-right: $grid-unit;

    span {
      text-wrap: nowrap;
    }
  }
}

.details-header {
  @include flex-container(row, space-between, center);
  height: $grid-unit * 4;
  position: relative;

  h1 {
    display: flex;
    flex: 1;
    font-size: $font-unit * 3;
    margin: 0;
    transition: font-size 200ms;
  }
}

.user-count {
  @include hidpi-background-image('count-avatar', 24px 30px);
  background-repeat: no-repeat;
  display: inline-block;
  flex: 0 0 $grid-unit * 1.25;
  height: $grid-unit * 1.5;
  margin-left: $grid-unit * .5;
}

.details-content {
  @include flex-container(row, space-between, flex-start);
  margin-top: $grid-unit * .5;

  h3 {
    margin: $grid-unit 0 $grid-unit * .5;
  }
}

.details-overview {
  @include respond-to('big') {
    flex: 0 0 $grid-unit * 13;
  }

  @include respond-to('medium') {
    flex: 0 0 $grid-unit * 10;
  }
}

.details-description {
  @include respond-to('big') {
    flex: 0 0 $grid-unit * 34;

    img {
      height: auto;
      width: $grid-unit * 34;
    }

  }

  @include respond-to('medium') {
    flex: 0 0 $grid-unit * 25;

    img {
      height: auto;
      width: $grid-unit * 25;
    }
  }

  :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .introduction {
    margin-bottom: $grid-unit * 2;
  }
}

.disclaimer,
.privacy-policy {
  font-size: $font-unit;
  line-height: $line-unit;
  margin-bottom: $line-unit;
}

.measurement ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: $transparent-black-1;
    border-left: 2px $grid-unit * .1 solid $primary;
    margin-bottom: $grid-unit * .1;
    padding: $grid-unit * .4;
  }
}

.contributors {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include flex-container(row, flex-start, center);
    padding-bottom: $grid-unit;
  }

  .title {
    font-size: $font-unit * .8;
    margin: 0;
  }

  .name {
    margin: 0;
  }

  .contributor {
    padding-left: $grid-unit * .5;
  }
}

.stats {
  font-size: $font-unit;
  margin-bottom: $grid-unit * 2.5;
  width: 100%;

  td {
    padding-bottom: $grid-unit * .25;
    vertical-align: top;
    width: 65%;
  }

  td:first-child {
    font-weight: bold;
    width: 35%;
  }
}

.details-image {
  margin-bottom: $grid-unit * 1.5;

  img {
    border-radius: 3px;
    overflow: hidden;
  }

  .caption {
    color: $transparent-black-7;
    font-size: $font-unit;
    margin-top: $grid-unit * .5;
    padding: 0 $grid-unit * .25;
  }
}

.now-active {
  color: $primary;
  display: block;
  font-weight: bold;
  left: $grid-unit * .75;
  position: absolute;
  top: -$grid-unit;

  .stick & {
    display: none;
  }

  &:before {
    animation: pop 2000ms infinite alternate ease-in-out;
    background: $primary;
    border-radius: 50%;
    content: '';
    display: inline-block;
    filter: blur(.1px);
    height: $grid-unit;
    margin-right: $grid-unit * .4;
    position: relative;
    top: $grid-unit * .125;
    width: $grid-unit;
  }
}
