.details-header-wrapper {

  &.stick {
    background: $transparent-white-96;
    box-shadow: 0 0 5px $transparent-black-5;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    + div {
      margin-top: 80px;
    }

    h1 {
      flex: 1;
      font-size: 38px;

    }

    .details-content {
      margin-top: 66px;
    }

    .details-header {
      margin-top: 0;
    }
  }
}

.experiment-controls {
  @include flex-container(row, flex-end, center);
  flex: 1;

  .button {
    margin-right: 20px;

    span {
      text-wrap: nowrap;
    }
  }
}

.details-header {
  @include flex-container(row, space-between, center);
  height: 80px;
  position: relative;

  h1 {
    display: flex;
    flex: 1;
    font-size: 36px;
    margin: 0;
    transition: font-size 200ms;
  }
}

.user-count {
  @include hidpi-background-image('count-avatar', 24px 30px);
  background-repeat: no-repeat;
  display: inline-block;
  flex: 0 0 24px;
  height: 30px;
  margin-left: 10px;
}

.details-content {
  @include flex-container(row, space-between, flex-start);
  padding-top: 30px;

  h3 {
    margin: 24px 0 12px;
  }
}

.details-overview {
  flex: 0 0 260px;
}

.details-description {
  flex: 0 0 680px;
}

.disclaimer,
.privacy-policy {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 18px;
}

.measurement ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: $light;
    border-left: 2px solid $primary;
    margin-bottom: 2px;
    padding: 8px;
  }
}

.contributors {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include flex-container(row, flex-start, center);
    padding-bottom: 10px;
  }

  .title {
    font-size: 10px;
  }

  .contributor {
    padding-left: 10px;
  }
}

.stats {
  font-size: 12px;
  margin-bottom: 50px;
  width: 100%;

  td {
    padding-bottom: 5px;
    vertical-align: top;
    width: 65%;
  }

  td:first-child {
    font-weight: bold;
    width: 35%;
  }
}

.details-image {
  margin-bottom: 32px;

  .image {
    background: $light;
    border: 1px solid darken($light, 6);
    border-radius: 6px;
    height: 460px;
    width: 100%;
  }

  .caption {
    color: $transparent-black-7;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 6px;
  }
}

.now-active {
  color: $primary;
  display: block;
  font-weight: bold;
  left: 4px;
  position: absolute;
  top: -20px;

  .stick & {
    display: none;
  }

  &:before {
    animation: pop 2000ms infinite alternate ease-in-out;
    background: $primary;
    border-radius: 50%;
    content: '';
    display: inline-block;
    filter: blur(.1px);
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: 3px;
    width: 20px;
  }
}
