#experiment-list {
  @include flex-container(row, space-between, stretch, wrap);

  @include respond-to('medium') {
    justify-content: center;
  }

  margin: $grid-unit * 2 auto;

  > header {
    flex: 0 0 100%;
  }

  .blue & {
    border-top: 1px solid $transparent-white-1;
    padding-top: $grid-unit * 3;
  }
}

.experiment-list-header {
  margin: 40px 0;
  text-align: center;
}

.experiment-summary {

  @include flex-container(column, stretch, stretch);

  @include respond-to('big') {
    flex: 0 0 300px;
  }

  @include respond-to('medium') {
    flex: 0 0 46%;
    margin: 0 2% $grid-unit * 2;
  }

  @include respond-to('small') {
    flex: 0 1 96%;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-unit * 20;
  }

  background-color: $white;
  border-radius: $small-border-radius;
  box-shadow: 0 0 0 1px $transparent-black-1, 0 1px 0 1px $transparent-black-1;
  color: $black;
  margin-bottom: $grid-unit * 1.75;
  position: relative;
  z-index: 1;

  .blue & {
    background: $transparent-white-96;
  }

  .experiment-information {
    flex: 1;
    padding: $grid-unit;
  }

  header {
    @include flex-container(row, space-between, center);
    margin-bottom: $grid-unit * .75;
    width: 100%;
  }

  h3 {
    margin: 0;
  }

  p {
    line-height: 1.4 * $line-unit;
    margin: 0;
  }

  &.logged-in {
    cursor: pointer;

    &.active {
      box-shadow: 0 0 0 3px $white, 0 0 0 6px $primary;

      &:hover {
        box-shadow: 0 0 0 3px $white, 0 0 0 8px $primary;
      }

      &:after {
        @include hidpi-background-image('check', 36px 27px);
        background-color: $primary;
        background-position: center center;
        background-repeat: no-repeat;
        border: 3px solid $white;
        border-radius: $circle-border-radius;
        content: '';
        height: 56px;
        position: absolute;
        right: -26px;
        top: -26px;
        width: 56px;
        z-index: 2;
      }
    }
  }

  &.logged-in:hover {
    box-shadow: 0 1px 0 0 $transparent-white-2, 0 0 0 5px $transparent-white-2;
    transition: box-shadow 150ms;

    h3 {
      color: $default;
      transition: color 150ms;
    }
  }
}

.experiment-actions {
  padding: 0 $grid-unit $grid-unit;

  .button {
    display: none;
    text-align: center;
    width: 100%;

    .active &.show-when-active {
      display: block;
    }

    .logged-in:not(.active) &.show-when-inactive {
      display: block;
    }
  }
}

.experiment-icon-wrapper {
  @include flex-container(row, center, center);
  background: $transparent-black-2;
  border-radius: $small-border-radius $small-border-radius 0 0;
  box-shadow: 0 -2px 2px $transparent-white-1 inset;
  height: $grid-unit * 8; 
  overflow: hidden;
  position: relative;

  &:after {
    background: $transparent-white-05;
    content: '';
    height: $grid-unit * 15;
    left: -$grid-unit * 7.5;
    position: absolute;
    top: -$grid-unit * 7.5;
    transform: rotate(45deg);
    width: $grid-unit * 15;
    z-index: 2;
  }
}

.experiment-icon {
  background-repeat: no-repeat;
  background-size: $grid-unit * 4 $grid-unit * 4;
  filter: drop-shadow(0 1px 0 $transparent-black-1);
  flex: 0 0 $grid-unit * 4;
  height: $grid-unit * 4;
  opacity: .9;
}
