.details-header-wrapper {

  &.stick {
    background: $transparent-white-96;
    box-shadow: 0 0 5px $transparent-black-5;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    + div {
      margin-top: $grid-unit * 4.8;
    }
  }
}

.experiment-controls {
  @include flex-container(row, flex-end, center);
  flex: 1;
  position: relative;
  transition: top 200ms;
  width: 100%;

  .button {
    font-size: $grid-unit * .9;
    height: $grid-unit * 2;
    margin-left: $grid-unit;
    padding: 0 $grid-unit * .75;
  }

  .highlight-privacy {
    cursor: pointer;
  }

  span {
    text-wrap: nowrap;
  }
}

.details-header {
  @include flex-container(row, space-between, center);
  height: $grid-unit * 4.5;
  position: relative;

  h1 {
    @include respond-to('not-small') {
      font-size: $font-unit * 4;
      line-height: $font-unit * 4;
    }

    @include respond-to('small') {
      font-size: $font-unit * 3.5;
      line-height: $font-unit * 3.5;
    }

    display: flex;
    flex: 1;
    font-weight: 300;
    margin: 0;
    transition: font-size 200ms;
  }
}

.install-count {
  margin-left: $grid-unit;
}


.details-content {
  @include flex-container(row, space-between, flex-start);
  margin-top: $grid-unit;
}

.details-overview {
  @include respond-to('big') {
    flex: 0 0 $grid-unit * 15;
  }

  @include respond-to('medium') {
    flex: 0 0 $grid-unit * 14;
  }
}

.details-description {
  @include respond-to('big') {
    flex: 0 0 $grid-unit * 32;

    img {
      height: auto;
      width: $grid-unit * 32;
    }

  }

  @include respond-to('medium') {
    flex: 0 0 $grid-unit * 22;

    img {
      height: auto;
      width: $grid-unit * 22;
    }
  }

  :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .introduction {
    margin-bottom: $grid-unit * 2;

    h3 {
      font-size: $font-unit * 2.5;
      margin: $grid-unit * .5 0;
    }
  }
}

.details-sections {

  section {
    margin-bottom: $grid-unit;
    padding-bottom: $grid-unit;

    + section {
      border-bottom: 1px solid $transparent-black-1;
    }

    h3 {
      font-size: $font-unit * 1.5;
      margin: 0 0 $grid-unit;
    }
  }
}

.user-count {
  background: $transparent-black-05;
  padding: $grid-unit;
  text-align: center;
}

.disclaimer,
.measurement,
.measurement p {
  font-size: $font-unit + 2;
  line-height: $line-unit + 4;
}

.measurements {
  border-radius: $small-border-radius;
  box-shadow: 0 0 0 $grid-unit * .5 transparent;
}

.measurement {
  position: relative;

  ul {
    background: $transparent-black-05;
    border-radius: $small-border-radius;
    margin: 0;
    padding: $grid-unit $grid-unit $grid-unit $grid-unit * 1.5;

    li {
      margin-bottom: $grid-unit * .5;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.privacy-policy {
  display: block;
  font-size: $font-unit;
  line-height: $line-unit - 2;
  padding: $grid-unit * .25 $grid-unit * .25 0;
}

.contributors {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include flex-container(row, flex-start, center);
    padding-bottom: $grid-unit;
    text-align: left;
  }

  >:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .name {
    margin: 0;
  }

  .title {
    font-size: $font-unit * .8;
    line-height: $font-unit;
    margin: 0;
  }

  .contributor {
    line-height: $font-unit;
    padding-left: $grid-unit * .5;
  }
}

.stats {
  font-size: $font-unit;
  width: 100%;

  td {
    padding: $grid-unit * .25;
    vertical-align: top;
    width: 65%;
  }

  td:first-child {
    font-weight: bold;
    width: 35%;
  }
}

.details-image {
  margin-bottom: $grid-unit * 1.5;

  img {
    border-radius: 3px;
    overflow: hidden;
  }

  .caption {
    color: $transparent-black-7;
    font-size: $font-unit;
    margin-top: $grid-unit * .5;
    padding: 0 $grid-unit * .25;
  }
}

.now-active {
  color: $primary;
  display: block;
  font-weight: bold;
  left: $grid-unit * .75;
  position: absolute;
  top: -$grid-unit;

  .stick & {
    display: none;
  }

  &::before {
    @media (min-resolution: 1.3dppx) {
      animation: pop 2000ms alternate ease-in-out;
      animation-iteration-count: 5;
    }

    background: $primary;
    border-radius: 50%;
    content: '';
    display: inline-block;
    filter: blur(.1px);
    height: $grid-unit;
    margin-right: $grid-unit * .4;
    position: relative;
    top: $grid-unit * .2;
    width: $grid-unit;
  }
}
