#main-footer {
  @include respond-to('not-small') {
    padding: $grid-unit * 2 0 0;
  }

  @include respond-to('small') {
    padding: $grid-unit * 1 0 0;
  }

  position: relative;
}

#footer-links {
  @include flex-container(row, flex-start, flex-end);

  @include respond-to('small') {
    justify-content: space-between;
    padding-top: $grid-unit;
  }

  font-size: $font-unit;
  margin-top: $grid-unit;
  padding-bottom: $grid-unit * .5;

  > * {
    @include respond-to('not-small') {
      margin-right: $grid-unit * 1.5;
    }

    @include respond-to('small') {
      margin-right: 0;
    }
  }
}
