#main-footer {
  @include color-scheme($dark, $wash);
  @include flex-container(column, flex-end, flex-start);
  border-top: 1px solid $default-dark;
  flex: 1 1;
  height: 100%;
  padding: 4rem 0 2rem;

  .wrapper {
    @include flex-container(row, flex-start, flex-end, nowrap, false);
  }

  .moz-logo {
    @include hidpi-background-image('mozilla', 77px 20px);
    display: block;
    float: left;
    height: 20px;
    margin-right: 20px;
    width: 77px;
  }

  .boilerplate {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
  }
}
