#main-footer {
  padding: 60px 0 0;
}

#footer-links {
  @include flex-container(row, flex-start, flex-end);
  margin-top: 20px;
  padding-bottom: 10px;

  > * {
    font-size: 14px;
    margin-right: 32px;
  }
}
