.legal-information {
  font-size: $font-unit;
  line-height: $line-unit;
  margin: 0;
  opacity: .9;
  padding: 0 $grid-unit * .5 $grid-unit * .5;
  text-align: center;

  a {
    text-decoration: underline;
  }
}
