#four-oh-four {
  &:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $white;
    bottom: -14px;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }

  + .copter {
    left: 5px;
    margin: 0 auto;
    top: 30px;
  }
}

.modal-container {
  @include flex-container(row, center, center);
  animation: fade-in 500ms forwards;
  background: $transparent-black-7;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 4px 20px $transparent-black-5;
  color: $black;
  position: relative;
  width: 420px;

  .title {
    background-color: $default;
    border-top-left-radius: $feedback-modal-border-radius;
    border-top-right-radius: $feedback-modal-border-radius;
    color: $white;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 18px 0 14px;
    text-align: center;

    .blue &,
    .onboarding & {
      background-color: $white;
      color: $black;
      padding: 20px 0 0;
    }

    &.warning {
      background: $warning-red-light;
    }
  }

  .modal-content {
    padding: 20px 30px;
    position: relative;
  }

  .modal-actions {
    @include flex-container(column, space-between, center);
    padding: 0 30px 30px;

    .button {
      width: 100%;
    }
  }

  .cancel {
    margin: 10px 0 0;
  }
}

.modal-form {
  @include flex-container(column, center, stretch);
  padding: 20px 0;

  ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
  }

  li {
    margin: 0 0 12px;
    padding: 0;
  }

  input {
    margin: 0 .25em;
    padding: 0;
  }

  label {
    font-size: 1.8rem;
    margin-left: 5px;
    position: relative;
    top: 2px;
  }

  .additional-feedback {
    background: $transparent-black-02;
    border: 1px solid $transparent-black-1;
    border-radius: 2px;
    margin: 20px 0 0;
    padding: 10px;
  }

  .text-area-label {
    font-size: 14px;
    margin: 0;
    padding: 6px;
    text-align: center;
  }

  .form-notification {
    background: $transparent-warning-lightest-5;
    border-bottom: 1px solid $warning-red-lightest;
    display: block;
    margin: 0 -30px;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 100ms;
    width: 100%;

    &.hidden {
      opacity: 0;
    }
  }

  textarea {
    border: 1px solid $feedback-modal-grey;
    display: block;
    font-size: 1.4rem;
    height: 8em;
    padding: 5px;
    resize: none;
    width: 100%;
  }
}
