#four-oh-four,
#retire {
  margin-bottom: $grid-unit * 1.5;
  position: relative;

  &:after {
    border-left: $grid-unit * .75 solid transparent;
    border-right: $grid-unit * .75 solid transparent;
    border-top: $grid-unit * .75 solid $white;
    bottom: -14px;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }
}

.modal-container {
  @include flex-container(row, center, center);
  animation: fade-in 500ms forwards;
  background: $transparent-black-7;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal {
  background: $white;
  border-radius: $large-border-radius;
  box-shadow: 0 4px $grid-unit $transparent-black-5;
  color: $black;
  position: relative;
  width: $grid-unit * 21;

  :not(.content-wrapper) & {
    @include respond-to('small') {
      margin: 0 4%;
      width: 92%;
    }
  }

  .modal-escape {
    color: $default;
    margin: 10px 0 0;
  }

  .title {
    background-color: $default;
    border-top-left-radius: $large-border-radius;
    border-top-right-radius: $large-border-radius;
    color: $white;
    font-size: $font-unit * 2.5;
    font-weight: 700;
    margin: 0;
    padding: ($grid-unit - 2) 0 ($grid-unit - 6);
    text-align: center;

    .blue &,
    .onboarding & {
      background-color: $white;
      color: $black;
      padding: $grid-unit 0 0;
    }

    &.warning {
      background: $warning-red-light;
      color: $white;
    }
  }

  .modal-content {
    padding: $grid-unit $grid-unit * 1.5;
    position: relative;
  }

  .modal-actions {
    @include flex-container(column, space-between, center);
    padding: 0 $grid-unit * 1.5 $grid-unit * 1.5;

    .button {
      width: 100%;
    }
  }

  .cancel {
    margin: $grid-unit * .5 0 0;
  }
}

.loading-pill {
  border: 1px solid $transparent-white-3;
  border-radius: $small-border-radius;
  padding: $grid-unit * .5;
  position: relative;

  > * {
    margin: 0;
  }
}

.state-change-inner {
  animation: barberpole 1000ms infinite linear;
  background-image: linear-gradient(45deg, $transparent-white-1 25%, transparent 25%, transparent 50%, $transparent-white-1 50%, $transparent-white-1 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .1s ease;
}

.modal-form {
  @include flex-container(column, center, stretch);
  padding: $grid-unit 0;

  ul {
    list-style: none;
    margin: $grid-unit 0 0;
    padding: 0;
  }

  li {
    margin: 0 0 $grid-unit * .6;
    padding: 0;
  }

  input {
    margin: 0 $grid-unit * .25;
    padding: 0;
  }

  label {
    font-size: $font-unit + 4;
    margin-left: $grid-unit * .25;
    position: relative;
    top: $grid-unit * .1;
  }

  .additional-feedback {
    background: $transparent-black-02;
    border: 1px solid $transparent-black-1;
    border-radius: $small-border-radius;
    margin: $grid-unit 0 0;
    padding: $grid-unit * .5;
  }

  .text-area-label {
    font-size: $font-unit + 2;
    margin: 0;
    padding: $grid-unit * .25;
    text-align: center;
  }

  .form-notification {
    background: $transparent-warning-lightest-5;
    border-bottom: 1px solid $warning-red-lightest;
    display: block;
    margin: 0 (-$grid-unit * 1.5);
    padding: $grid-unit * .25;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 100ms;
    width: 100%;

    &.hidden {
      opacity: 0;
    }
  }

  textarea {
    border: 1px solid $feedback-modal-grey;
    display: block;
    font-size: $font-unit + 2;
    height: $font-unit * 8;
    padding: $grid-unit * .25;
    resize: none;
    width: 100%;
  }
}

.tour-modal {
  animation: none;
  padding: 0;

  .tour-content {
    position: relative;
  }

  .tour-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: $transparent-white-5;
    p {
      margin: 0;
      padding: 20px;
    }
  }

  .tour-image {
    @include flex-container(row, center, center);
    height: 315px;
    background: $transparent-black-1;
    overflow: hidden;
    img {
      height: 315px;
    }
  }

  .tour-actions {
    @include flex-container(row, space-between, center);
    height: 92px;
    padding: 20px;
    opacity: .8;
  }

  .tour-next,
  .tour-back {
    width: 40px;
    height: 40px;
  }

  .tour-back {
    @include hidpi-background-image('back', 40px 40px);
  }


  .tour-next {
    @include hidpi-background-image('next', 40px 40px);
  }

  .button {
    margin: 0 auto;
  }
}
