#beta-notice-modal {
  @include color-scheme($default, transparency($white, 1));
  border-radius: 10px;
  font-weight: 400;
  padding: 24px;
  position: relative;
  text-align: center;
  width: 442px;
  z-index: 999;

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
    margin-top: -.4rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .town & {
    padding: 15px;
    position: absolute;
    right: 75px;
    top: -250px;
    width: 260px;
  }

  &:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $white;
    bottom: -15px;
    content: '';
    height: 0;
    position: absolute;
    width: 0;

    .town & {
      left: 194px;
    }

    .vertical-centering-container & {
      right: 40px;
    }
  }
}

.modal-controls {
  @include flex-container(row, center, center);
  margin-top: 16px;


  a {
    @include flex-container(row, center, center);
    display: flex;
    flex: 1;
    text-decoration: none;
    width: 100%; 


    .button {
      flex: 0 1 230px;
    }
  }
}

#modal-screen {
  background: transparency($white, .6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

#modal-screen.dark {
  background: transparency($black, .6);
}

.feedback-modal {
  background-color: $white;
  border-radius: $feedback-modal-border-radius;
  left: 50%;
  margin-left: ($feedback-modal-width / - 2);
  position: fixed;
  top: 60px;
  width: $feedback-modal-width;
  z-index: 200;

  h3.title {
    background-color: $default;
    border-top-left-radius: $feedback-modal-border-radius;
    border-top-right-radius: $feedback-modal-border-radius;
    color: $white;
    font-size: 2.4rem;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  section.main {
    padding: 0 25px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0 0;

      li {
        margin: 0 0 .25em;
        padding: 0;

        input {
          margin: 0 .25em;
          padding: 0;
        }

        label {
          font-size: 1.8rem;
          font-weight: 200;
        }
      }
    }

    section.extra,
    section.controls {
      text-align: center;

      p {
        color: $feedback-modal-grey;
        font-size: 1.2rem;
        margin: 10px 0 4px;
        padding: 0;
      }

      textarea {
        border: 1px solid $feedback-modal-grey;
        display: block;
        font-size: 1.4rem;
        height: 8em;
        padding: 5px;
        resize: none;
        width: 100%;
      }
    }

    section.controls {
      margin: 20px 0;
      text-align: center;

      button.submit {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        width: 100%;
      }

      a.cancel {
        display: block;
        font-size: 1.2rem;
        margin: 10px 0;
        text-decoration: none;
      }
    }
  }
}
