.settings-button {
  @include flex-container(row, space-between, center);
  background: $transparent-white-2;
  border: 1px solid $transparent-white-3;
  border-radius: $large-border-radius;
  cursor: pointer;
  height: $grid-unit * 1.5;
  line-height: $line-unit * 1.5;
  padding: 0 $grid-unit * .25;
  text-align: center;
  transition: background 100ms;
  width: $grid-unit * 2.3;

  &.active,
  &:hover {
    background: $transparent-white-4;
  }

  span {
    background: $white;
    border-radius: $circle-border-radius;
    display: inline-block;
    flex: 0 0 8px;
    height: 8px;
  }

  &:hover:not(.active) {
    @media (min-resolution: 1.3dppx) {
      :nth-child(1) {
        animation: pop 200ms;
      }

      :nth-child(2) {
        animation: pop 200ms;
        animation-delay: 50ms;
      }

      :nth-child(3) {
        animation: pop 200ms;
        animation-delay: 100ms;
      }
    }
  }
}

.settings-contain {
  position: relative;
}

.settings-menu {
  background: $white;
  border-radius: $small-border-radius;
  box-shadow: 1px 1px 3px 1px $transparent-black-2;
  left: -$grid-unit * 6.7;
  position: absolute;
  top: $grid-unit * 2.25;
  width: $grid-unit * 9;
  z-index: 999;

  .user-name {
    color: $black;
    font-size: $font-unit;
    margin-bottom: $grid-unit * .25;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::after {
    border-bottom: $grid-unit * .5 solid $white;
    border-left: ($grid-unit * .5) + 1 solid transparent;
    border-right: ($grid-unit * .5) + 1 solid transparent;
    content: '';
    left: 146px;
    position: absolute;
    top: -($grid-unit * .5);
  }

  a {
    color: $default;
    cursor: pointer;
    display: block;
    line-height: $line-unit * 1.5;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: $grid-unit * .5;
  }

  li {
    list-style: none;
  }

  hr {
    color: $transparent-black-2;
  }
}
