#avatar-wrapper {
  @include flex-container(default, center, center, nowrap, false);
<<<<<<< HEAD
=======
  border: 1px solid $white;
>>>>>>> 7a2ec44... Import scratchpad styles for home, experiment pages
  border-radius: 50%;
  cursor: pointer;
  flex: 0 0 48px;
  height: 48px;
<<<<<<< HEAD
  z-index: 2;
=======
>>>>>>> 7a2ec44... Import scratchpad styles for home, experiment pages
  
  .default-avatar {
    @include hidpi-background-image('default-avatar', 41px 41px);
    flex: 0 0 41px;
    height: 41px;
  }
}
