.button {
  border: 0;
  border-radius: 4px;
  font-weight: 200;
  height: 36px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transition: background 100ms;

  &.large {
    border-radius: 8px;
    font-size: 2rem;
    height: 6rem;
    padding: 0 2px 2px;
  }

  &.link {
    @include flex-container(row, center, center);
  }

  &.secondary {
    border: 1px solid darken($light, 20);
    color: $dark;

    &:hover,
    &:focus {
      background: darken($light, 10);
    }
  }

  &.neutral {
    border: 1px solid transparency($black, .1);
  }

  &.default {
    @include color-scheme($white, $black);
  }

  &.primary {
    @include color-scheme($white, $primary);

    &:hover,
    &:focus {
      background: darken($primary, 8);
      color: transparency($white, .7);
    }

    &:active {
      background: darken($primary, 12);
    }
  }

  &.dark {
    @include color-scheme($white, $default-dark);

    &:hover,
    &:focus {
      background: lighten($default-dark, 3);
    }

    &:active {
      background: darken($default-dark, 3);
    }
  }

  &.icon {
    border: 2px solid $black;
    flex: 0 0 36px;
    height: 36px;
  }

  &.special {
    background: none;
    border-radius: 6px;
    color: $default;
    display: block;
    font-size: 20px;
    font-weight: 200;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 20px;
    text-align: center;
    width: 200px;

    &:hover,
    &:focus {
      background: $wash;
    }

    &:active {
      background: darken($wash, 4);
    }
  }
}
