.button {
  border: 0;
  border-radius: 4px;
  font-weight: 200;
  height: 36px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 100ms;



  &.large {
    border-radius: 8px;
    font-size: 2rem;
    height: 6rem;
    padding: 0 2px 2px;
  }

  &.link {
    @include flex-container(row, center, center);
  }

  &.secondary {
    border: 1px solid darken($light, 20);
    color: $dark;

    &:hover,
    &:focus {
      background: darken($light, 10);
    }
  }

  &.neutral {
    border: 1px solid transparency($black, .1);
  }

  &.default {
    @include color-scheme($white, $black);
  }

  &.primary {
    @include color-scheme($white, $primary);

    &:hover,
    &:focus {
      background: darken($primary, 8);
      color: transparency($white, .7);
    }

    &:active {
      background: darken($primary, 12);
    }
  }

  // Loading animation concept comes from
  // https://css-tricks.com/uniqlo-stripe-hovers/
  .state-change-inner {
    animation: barberpole 1000ms infinite linear;
    background-image: linear-gradient(
      45deg, 
      transparency($white, .1) 25%, 
      transparent 25%,
      transparent 50%, 
      transparency($white, .1) 50%,
      transparency($white, .1) 75%,
      transparent 75%,
      transparent
    );
    background-size: 50px 50px;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .1s ease;
  }

  &.state-change .default-text {
    display: none;
  }

  &:not(.state-change) .transition-text {
    display: none;
  }

  &.state-change .state-change-inner {
    opacity: 1;
  }

  &.neutral.state-change,
  &.primary.state-change,
  &.dark {
    @include color-scheme($white, $default-dark);

    &:hover,
    &:focus {
      background: lighten($default-dark, 3);
    }

    &:active {
      background: darken($default-dark, 3);
    }
  }

  &.icon {
    border: 2px solid $black;
    flex: 0 0 36px;
    height: 36px;
  }

  &.special {
    background: none;
    border-radius: 6px;
    color: $default;
    display: block;
    font-size: 20px;
    font-weight: 200;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 20px;
    text-align: center;
    width: 200px;

    &:hover,
    &:focus {
      background: $wash;
    }

    &:active {
      background: darken($wash, 4);
    }
  }
}
