#cta {
  animation: fade-in 200ms;

  &.sign-up {
    @include color-scheme-special(true);
  }

  &.add-on {
    @include color-scheme-special-inverse(true);
  }

  .firefox-logo {
    @include hidpi-background-image('firefox-logo', 141px 146px);
    height: 146px;
    margin: 5rem 0 2rem;
    width: 141px;
  }

  #tabzilla {
    margin-top: -5rem;
  }

  h1 {
    font-size: 8rem;
    line-height: 7.2rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4.2rem;
    margin-bottom: 3.2rem;
  }
}

#cta-layout-wrapper {
  display: flex;
  height: 322px;
  justify-content: space-between;

  .cta-layout {
    flex: 1 1;

    .button {
      width: 100%;
    }

    .fxa-alternate {
      color: $white;
      display: block;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 1.2rem 0 2.4rem;
    }

    .cta-legal {
      font-size: 14px;
      margin: 0 24px 0 0;
    }

    a {
      color: $white;
    }
  }

  .town {
    @include hidpi-background-image('town', 657px 322px); 
    flex: 0 1 657px;
    height: 322px;
    position: relative;
    top: 18px;
    width: 657px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
