#cta {
  margin-bottom: -6px;

  &.sign-up {
    @include color-scheme-special;

    h2 {
      font-size: 6.6rem;
      line-height: 7.8rem;
      margin-bottom: 3rem;
    }

    .button {
      font-size: 1.9rem;
    }

    .page {
      border-top: 6px solid $white;
    }
  }

  &.add-on {
    @include color-scheme-special-inverse;

    h1 {
      color: rgba($dark, .8);
    }

    h2 {
      font-size: 5.4rem;
      line-height: 6.2rem;
      margin-bottom: 3rem;
    }

    .button {
      font-size: 2.4rem;
    }

    #tabzilla a {
      @include hidpi-background-image('tabzilla-blue', 147px 37px);
    }

    .page {
      border-top: 6px solid $default;
    }
  }

  .firefox-logo {
    @include hidpi-background-image('firefox-logo', 141px 146px);
    height: 146px;
    margin: 3rem 0 2rem;
    width: 141px;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

#cta-layout-wrapper {
  display: flex;
  height: 322px;
  justify-content: space-between;

  .cta-layout {
    flex: 1 1;

    .button {
      width: 100%;
    }

    .fxa-alternate {
      display: block;
      margin: 2rem 0;
      width: 110%;
    }

    .cta-legal {
      font-size: 12px;
      font-weight: 400;
      width: 70%;
    }

    a {
      color: $white;
    }
  }

  .town {
    @include hidpi-background-image('town', 655px 322px); 
    flex: 0 1 655px;
    height: 322px;
    position: relative;
    top: 18px;
    width: 655px;
  }

  #copter {
    @include hidpi-background-image('copter', 105px 81px); 
    height: 81px;
    left: 480px;
    position: relative;
    top: 44px;
    width: 105px; 
    z-index: 999;
  }
}
