#main-footer {
  @include color-scheme($dark, $wash);
  border-top: 1px solid $default-dark;
  flex: 1 1;
  padding: 6rem 0 1.6rem;
  position: relative;
  z-index: -1;

  .add-on &,
  .sign-up & {

    margin-top: -18px;

  }

  &.light {
    @include color-scheme($black, $light);
  }

  &.fixed {
    background: linear-gradient(to bottom, $transparent-white 0%, $wash 100%);
    bottom: 0;
    padding-top: 20px;
    position: fixed;
    width: 100%;
  }

  .wrapper {
    @include flex-container(default, flex-start, flex-end, nowrap, false);
  }

  .moz-logo {
    @include hidpi-background-image('mozilla', 77px 20px);
    display: block;
    float: left;
    height: 20px;
    margin-right: 20px;
    width: 77px;
  }

  .boilerplate {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
  }
}
