#idea-view {
  @include color-scheme-special-inverse(false);
  color: $black;
}

#condensed-branding {
  @include color-scheme-special(false);

  &.detail-header {
      @include color-scheme-special-inverse(false);
  }

  .row {
    @include flex-container(default, space-between, center, nowrap, true);
    height: 80px;
  }

  h2 {
    @include hidpi-background-image('small-firefox-logo', 57px 59px);
    background-repeat: no-repeat;
    color: $white;
    height: 57px;
    line-height: 57px;
    padding-left: 72px;
  }
}

#details {
  flex: 1;
  margin: 120px 0 60px;
}

.details-header-wrapper {

  &.stick {
    background: $transparent-stick;
    box-shadow: 0 0 5px $transparent-black;
    position: fixed;
    top: 0;
    width: 100%;

    h1 {
      font-size: 40px;
      transition: font-size 200ms;
    }

    + .details-content {
      margin-top: 66px;
    }

    .details-header {
      height: 66px;
    }
  }
}

.details-header {
  @include flex-container(default, space-between, center, nowrap, true);
}

.idea-controls {
  @include flex-container(default, space-between, center, nowrap, false);

  > * {
    margin-left: 20px;
  }
}

.user-count {
  @include hidpi-background-image('count-avatar', 24px 30px);
  background-repeat: no-repeat;
  height: 30px;
  line-height: 30px;
  padding-left: 32px;
}

.details-content {
  @include flex-container(default, space-between, top, nowrap, true);
  padding-top: 30px;

  h3 {
    margin: 24px 0 12px;
  }
}

.details-overview {
  flex: 0 0 260px;

  > img:first-child {
    background: $black;
    border: 2px solid $black;
    border-radius: 50%;
  }
}

.details-description {
  flex: 0 0 680px;
}

.disclaimer {
  font-size: 12px; 
  margin-bottom: 18px;
}

.measurement {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: $light;
    border-left: 2px solid $primary;
    margin-bottom: 2px;
    padding: 8px;
  }
}

.contributors {
  list-style: none;
  margin: 0;
  padding: 0;
   
  li {
    @include flex-container(default, left, center, nowrap, false);
    padding-bottom: 10px;
   }

  .title {
    font-size: 10px;
  }

  .contributor {
    padding-left: 10px;
  }

}

.stats {
  font-size: 12px;
  margin-bottom: 50px;
  width: 100%;

  td {
    padding-bottom: 5px;
    vertical-align: top;
    width: 65%;
  }

  td:first-child {
    font-weight: bold;
    width: 35%;
  }
}

.details-image {
  margin-bottom: 32px;

  img {
    background: $light;
    border: 1px solid darken($light, 6);
    border-radius: 6px;
    height: 400px;
    width: 100%;
  }
}
