#list-view {
  @include color-scheme-special-inverse(false);
}

#expanded-branding {
  @include color-scheme-special(false);
  background-size: cover;
  border-bottom: 2px solid $black;
  height: 206px;

  header {
    @include hidpi-background-image('small-firefox-logo', 57px 59px);
    background-repeat: no-repeat;
    flex: 0 0 250px;
    margin-top: 20px;
    padding-top: 50px;
  }

  #avatar-wrapper {
    margin-top: 20px;
  }

  .town-background {
    @include hidpi-background-image('town2', 855px 374px);
    background-position: -40px -102px;
    background-repeat: no-repeat;
    border-bottom: 2px solid $black;
    height: 206px;
    left: 70px;
    margin-left: -70px;
    position: relative;
    width: 744px;
    z-index: 0;
  }
}

#idea-card-list {
  @include wrapper;
  border-bottom: 2px solid $light;
  flex: 1;
  margin-bottom: 20px;
  margin-top: 60px;
  padding-bottom: 50px;

  @include respond-to('big') {
    @include flex-container(default, space-between, top, wrap, true);
  }

  @include respond-to('medium') {
    @include flex-container(default, space-around, top, wrap, true);
  }
}

.idea-card {
  @include flex-container(column, space-around, center, nowrap, false);
  border-radius: 6px;
  color: $black;
  cursor: pointer;
  flex: 0 0 310px;
  height: 330px;
  padding: 30px 10px;
  text-align: center;
  text-decoration: none;
  transition: border 100ms;
  width: 310px;
   
  h3 {
    margin-top: 20px;
  }

  &:hover,
  &:focus {
    border: 3px solid $light;
  }
}

.idea-preview-image {
  background: $light;
  border-radius: 50%;
  flex: 0 0 172px;
  height: 172px;
  position: relative;
  transition: all 200ms;
  width: 172px;
  z-index: 0;

  // hack to set the offset stroke
  // on active items
  .active & {
    box-shadow: 0 0 0 3px $white, 0 0 0 6px $primary;
  }

  &:before {
    @include outline-text;
    background: $transparent-white;
    border-radius: 50%;
    content: 'Get Started';
    font-size: 24px;
    font-weight: 700;
    height: 150px;
    left: 11px;
    line-height: 24px;
    opacity: 0;
    padding: 51px 10px;
    position: absolute;
    text-align: center;
    top: 11px;
    transition: opacity 100ms;
    width: 150px;
    z-index: 1;
  }

  .active &:before {
    content: 'View Details';
  }

  .active &:after {
    @include hidpi-background-image('check', 36px 27px);
    background-color: $primary;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid $white;
    border-radius: 50%;
    content: '';
    height: 56px;
    position: absolute;
    right: -6px;
    top: 0;
    width: 56px;
    z-index: 2;
  }

  .idea-card:hover &:before,
  .idea-card:active &:before {
    opacity: 1;
  }
}


