#beta-notice-modal {
  @include color-scheme($default, rgba($white, 1));
  border-radius: 10px;
  font-weight: 400;
  padding: 24px;
  position: relative;
  text-align: center;
  width: 442px;
  z-index: 999;

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
    margin-top: -.4rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .town & {
    padding: 15px;
    position: absolute;
    right: 75px;
    top: -250px;
    width: 260px;
  }

  &:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba($white, 1);
    bottom: -15px;
    content: '';
    height: 0;
    position: absolute;
    width: 0;

    .town & {
      left: 194px;
    }

    .vertical-centering-container & {
      right: 40px;
    }
  }
}

.modal-controls {
  @include flex-container(row, center, center);
  margin-top: 16px;


  a {
    @include flex-container(row, center, center);
    display: flex;
    flex: 1;
    text-decoration: none;
    width: 100%; 


    .button {
      flex: 0 1 230px;
    }
  }
}

#modal-screen {
  background: rgba($white, .6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

#modal-screen.dark {
  background: rgba($black, .6);
}

.feedback-modal {
  $feedback-modal-width: 300px;
  $feedback-modal-border-radius: 5px;

  z-index: 200;
  width: $feedback-modal-width;
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -($feedback-modal-width/2);
  background-color: #fff;
  border-radius: $feedback-modal-border-radius;

  h3.title {
    background-color: $default;
    font-size: 2.4rem;
    color: #fff;
    margin: 0;
    padding: 10px;
    border-top-left-radius: $feedback-modal-border-radius;
    border-top-right-radius: $feedback-modal-border-radius;
    text-align: center;
  }
  section.main {
    padding: 0 25px;
    ul {
      list-style-type: none;
      padding: 20px 0 0 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0 0 0.25em 0;
        input {
          padding: 0;
          margin: 0 0.25em 0 0;
        }
        label {
          font-size: 1.8rem;
          font-weight: 200;
        }
      }
    }
    section.extra, section.controls {
      text-align: center;
      p {
        font-size: 1rem;
        padding: 0;
        margin: 10px 0 4px 0;
        color: #bbb;
      }
      textarea {
        display: block;
        width: 100%;
        height: 8em;
        font-size: 1.1rem;
        padding: 5px;
        border: 1px solid #bbb;
      }
    }
    section.controls {
      text-align: center;
      margin: 20px 0 20px 0;
      button.submit {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 1.8rem;
      }
      a.cancel {
        display: block;
        margin: 10px 0 10px 0;
        text-decoration: none;
        font-size: 1.1rem;
      }
    }
  }
}
