.arrow-up {
    width: 22px;
    height: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    top: -13px;
    left: 126px;
}

.settings-button {
    width: 45px;
    border-radius: 7px;
    background: #82cbeb;
    height: 30px;
    text-align: center;
    line-height: 150%;
    cursor: pointer;

    span {
        background: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
    }

}

.settings-contain {
    position: relative;
    margin-top: 20px;
}

.settings-menu {
    position: absolute;
    top: 45px;
    left: -114px;
    background: white;
    width: 160px;
    border-top: 1px solid white;

    box-shadow: 1px 1px 3px 1px #878787;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    ul {
        padding-left: 10px;
    }

    li {
        list-style: none;
    }
}

.hidden {
    display: none;
}
