.banner {

  @include respond-to('small') {
    text-align: center;
  }

  position: relative;

  .banner__copy {
    @include respond-to('medium') {
      font-size: $font-unit * 1.8;
      line-height: $font-unit * 2.6;
    }

    @include respond-to('small') {
      font-size: $font-unit * 1.7;
      line-height: $font-unit * 2.5;
    }

    font-size: $font-unit * 2.3;
    line-height: $font-unit * 3.5;
    margin: 0;
    max-width: $grid-unit * 25;
  }

  .banner__title {
    @include respond-to('medium') {
      font-size: $font-unit * 3.5;
      line-height: $font-unit * 3.5;
    }

    @include respond-to('small') {
      font-size: $font-unit * 2.7;
      line-height: $font-unit * 2.7;
    }

    font-size: $grid-unit * 2.75;
    line-height: $grid-unit * 3;
  }

  .banner__subtitle {

    @include respond-to('medium') {
      font-size: $font-unit * 2.8;
      line-height: $font-unit * 3.2;
    }

    @include respond-to('small') {
      font-size: $font-unit * 2.7;
      line-height: $font-unit * 2.7;
    }

    font-size: $grid-unit * 2;
    line-height: $grid-unit * 2.7;
    margin: 0 0 $grid-unit * 2;
  }

  .banner__title,
  .banner__subtitle {
    text-shadow: 0 2px 0 $transparent-black-3;
  }

  .banner__link {
    text-decoration: underline;

    &:hover {
      opacity: .8;
    }
  }
}

.banner--expanded {
  padding: $grid-unit * 2 0;

  .banner__title {
    @include respond-to('small') {
      margin: $grid-unit * .66 0;
    }

    margin: 0 0 $grid-unit * .66;
  }
}

.banner--background {
  background-color: $transparent-white-05;
  box-shadow: 0 -4px 0 $transparent-white-05 inset, 0 1px 0 $transparent-black-1;
}

.banner--condensed {
  @extend .banner--background;

  @include respond-to('big') {
    margin: $grid-unit * 1.6 0 $grid-unit * 4.5;
  }

  @include respond-to('medium') {
    margin: $grid-unit * .5 0 $grid-unit * 4;
  }

  @include respond-to('small') {
    margin: 0 0 $grid-unit * 2;
    padding-top: 10px;
  }

  .banner__title {

    @include respond-to('big') {
      font-size: $font-unit * 4;
      padding: $grid-unit * .8 0;
    }

    @include respond-to('medium') {
      font-size: $font-unit * 3.2;
      padding: $grid-unit * .6 0;
    }

    @include respond-to('small') {
      font-size: $font-unit * 2.2;
      line-height: $font-unit * 2.2;
      text-align: center;
    }

    font-style: oblique;
    margin: 0;
  }
}
