.condensed-header {
  @include respond-to('big') {
    margin: $grid-unit * 1.6 0 $grid-unit * 4.5;
  }

  @include respond-to('medium') {
    margin: $grid-unit * .5 0 $grid-unit * 4;
  }

  @include respond-to('small') {
    margin: 0 0 $grid-unit * 2;
    padding-top: 10px;
  }

  background-color: $transparent-white-1;
  box-shadow: 0 -4px 0 $transparent-white-05 inset, 0 1px 0 $transparent-black-1;
  position: relative;

  .responsive-content-wrapper {
    @include respond-to('small') {
      @include flex-container(column-reverse, center, center);
    }

    @include respond-to('not-small') {
      @include flex-container(row, space-between, stretch);
    }
  }

  h1 {

    @include respond-to('big') {
      font-size: $font-unit * 4;
      padding: $grid-unit * .8 0;
    }

    @include respond-to('medium') {
      font-size: $font-unit * 3.2;
      padding: $grid-unit * .6 0;
    }

    @include respond-to('small') {
      font-size: $font-unit * 2;
      padding: $grid-unit * .6 0;
      text-align: center;
    }

    font-style: oblique;
    margin: 0;
    text-shadow: 0 2px 0 $transparent-black-3;
  }

  .logo-container {

    @include respond-to('big') {
      flex: 0 0 $grid-unit * 12.5;
    }

    @include respond-to('medium') {
      flex: 184px;
    }

    @include respond-to('small') {
      flex: 0 0 149px;
      width: 184px;
    }

    position: relative;
  }

  .logo {
    @include hidpi-background-image('copter', auto ($grid-unit * 10));

    @include respond-to('big') {
      height: $grid-unit * 10;
      position: absolute;
      right: 0;
      top: $grid-unit * -2.25;
      width: $grid-unit * 12.5;
    }

    @include respond-to('medium') {
      background-size: 184px 149px;
      height: 149px;
      position: absolute;
      right: 0;
      top: $grid-unit * -1.8;
      width: 184px;
    }

    @include respond-to('small') {
      margin: 0 auto;
      top: 0;
    }

    background-position: right center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 20px $transparent-black-1);
  }
}
