$email-icon--width: 146px;
$email-icon--height: 127px;
$email-icon--responsive-unit: .66;


.newsletter-footer {
  background: $transparent-white-1;
  padding: ($grid-unit * 1.75) 0;

  .error {
    background: $warning-red-darker;
    color: $white;
    font-size: $font-unit * 7 / 6;
    line-height: 8 / 7;
    margin-bottom: $grid-unit;
    padding: $grid-unit * .5;
    width: 100%;
  }

  header,
  form {
    width: 45%;
  }

  header {
    @include flex-container(column, center, flex-start);

    background: url('../images/email.svg') no-repeat left;
    background-size: $email-icon--width $email-icon--height;
    margin-right: 10%;
    min-height: $email-icon--height;
    padding-left: $email-icon--width + ($grid-unit * 1.5);

    h2,
    p {
      margin: $grid-unit * .25;
    }
  }

  &.success {
    header {
      width: 70%;
    }

    form {
      height: 0;
      overflow: hidden;
      position: absolute;
      visibility: hidden;
      width: 0;
    }
  }

  // Shrink the size of the email icon at medium screen sizes.
  @include respond-to ('medium') {
    header,
    form {
      width: 47.5%;
    }

    header {
      background-size: ($email-icon--width * $email-icon--responsive-unit) ($email-icon--height * $email-icon--responsive-unit);
      margin-right: 5%;
      min-height: $email-icon--height * $email-icon--responsive-unit;
      padding-left: ($email-icon--height * $email-icon--responsive-unit) + ($grid-unit * 1.5);
    }

    &.success header {
      width: 100%;
    }

    h2 {
      font-size: $font-unit * 2.5;
      line-height: $font-unit * 2.5 * 1.5;
    }
  }

  // Stack the header above the form at small screen sizes.
  @include respond-to ('small') {

    header,
    form {
      width: 100%;
    }

    header {
      @include flex-container(column, center, center);

      background-position: top;
      margin-bottom: $grid-unit * .5;
      margin-right: 0;
      padding-left: 0;
      padding-top: ($email-icon--height * $email-icon--responsive-unit) + ($grid-unit * 1.5);
      text-align: center;
    }
  }
}
