.newsletter-form {
  @include flex-container(column, center, flex-start);

  input[type='email'],
  button {
    border-radius: $small-border-radius;
    box-shadow: none;
    line-height: $font-unit * 1.6;
    padding: ($grid-unit * .75) ($grid-unit * .5);
    width: 100%;
  }

  input[type='email'] {
    border: 0;
    color: $black;
    margin: $grid-unit * .5 0;

    &::placeholder {
      color: $transparent-black-7;
    }
  }

  input[type='checkbox'] {
    margin-right: $grid-unit * .25;
  }

  label {
    font-size: $font-unit;

    a {
      text-decoration: underline;
    }
  }

  .revealed-field {
    @include flex-container(row, center, center);
    margin: 0 auto $grid-unit * .5;
    transform: scaleY(0);
    transition: transform 125ms;
    width: 100%;

    &.reveal {
      transform: scaleY(1);
    }
  }

  p.disclaimer {
    margin: $grid-unit * .5 auto 0 auto;
    text-align: center;
    width: 100%;
  }
}

.newsletter-form-modal {
  input[type='email'] {
    border: 1px solid $transparent-black-3;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }

  a {
    color: $default;
  }
}
