@import '~photon-colors/colors.scss';
@import '../../../styles/_utils';

#main-footer {
  @include respond-to('not-small') {
    padding: $grid-unit * 2 0;
  }

  @include respond-to('small') {
    padding: $grid-unit * 1 0;
  }

  position: relative;
  width: 100%;
}

.legal-links {
  @include respond-to('not-small') {
    @include flex-container(row, flex-start, flex-end);

    .boilerplate {
      position: relative;
      top: 5px;
    }
  }

  @include respond-to('small') {
    @include flex-container(column, flex-start, flex-start);

  }

  font-size: $font-unit;
  margin-top: $grid-unit;

  > * {
    @include respond-to('not-small') {
      margin-right: $grid-unit * 1.5;
    }

    @include respond-to('small') {
      margin-bottom: $grid-unit * .5;
      margin-right: 0;
    }
  }
}

.social-links {
  @include flex-container(row, flex-start, flex-start);

  @include respond-to('small') {
    justify-content: flex-start;
    width: 100%;
  }

  flex: 1;

  .link-icon {
    @include respond-to('not-small') {
      margin-left: $grid-unit * .75;
    }

    @include respond-to('small') {
      margin-right: $grid-unit * .75;
    }

    background-repeat: repeat;
    cursor: pointer;
    flex: 0 0 25px;
    height: 25px;
    opacity: .9;
    transition: opacity 150ms;

    &:hover {
      opacity: 1;
    }

    &:first-child {
      margin-left: 0px;
    }
  }

  &:first-child {
    margin-left: 0px !important;
  }

  .github {
    background-image: url('./img/github-icon.svg');
  }

  .twitter {
    background-image: url('./img/twitter-icon.svg');
  }

  .youtube {
    background-image: url('./img/youtube-icon.svg');
    background-position: 50%;
  }
}

.legal-container .link-icon {
  filter: invert(25%);
}

.mozilla-logo {
  background-image: url('./img/mozilla.svg');
  background-repeat: no-repeat;
  background-size: auto 32px;
  height: 32px;
  margin-top: 12px;
  opacity: .9;
  transition: opacity 150ms;
  width: 112px;

  &:hover {
    opacity: 1;
  }
}

footer {
  background: $black;

  .uninstall-header {
    color: $red-70;
  }
}

.footer-container {
  margin: 0 auto;
  width: 85%;
}

.footer-wrap {
  @include respond-to('small') {
    flex-direction: column;
  }
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  width: 85%;
}

.footer-section {
  @include respond-to('not-small') {
    min-width: 25%;
  }
  display: flex;
  flex-direction: column;

  a {
    padding-bottom: 10px;
  }
}
