.past-experiments-button-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.past-experiments {
  flex: 0 0 220px;
  width: 220px;
  margin: 0 auto;
}

.past-experiments-padding {
  height: 40px;
}
