@import '../../../styles/_utils';

.copter {
  @include respond-to ('big') {
    width: 365px;
  }

  @include respond-to ('medium') {
    background: none;
    height: 220px;
    width: 345px;
  }

  @include respond-to('small') {
    background: none;
    height: 141px;
    width: 183px;
  }

  position: relative;
}

.copter__inner {
  @include respond-to ('big') {
    height: 265px;
    width: 345px;
  }

  @include respond-to ('medium') {
    background-size: 260px auto;
    height: 220px;
    width: 345px;
  }

  @include respond-to('small') {
    background-size: 141px auto;
    height: 141px;
    width: 183px;
  }

  background-image: url('./img/copter.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 250px 201px;
  margin: 0 auto;
  position: relative;
  top: 0;
}


.copter--small {

  @include respond-to('not-small') {
    flex: 0 0 $grid-unit * 12.5;
    height: $grid-unit * 10;
  }

  @include respond-to('small') {
    flex: 0 0 149px;
    width: 184px;
  }

  .banner--condensed & {
    @include respond-to('not-small') {
      flex: 0 0 149px;
      margin: 0;
      position: absolute;
      right: 0;
      top: $grid-unit * -1.5;
      width: 184px;
    }
  }

  .copter__inner {
    @include respond-to('not-small') {
      height: $grid-unit * 10;
      width: $grid-unit * 12.5;
    }

    @include respond-to('small') {
      background-size: 184px 149px;
      height: 149px;
      width: 184px;
    }

    background-image: url('./img/copter.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto $grid-unit * 10;
    filter: drop-shadow(0 0 20px $transparent-black-1);
    margin: 0 auto;


    .banner--condensed & {
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 184px 149px;
      filter: drop-shadow(0 0 20px $transparent-black-1);
      height: 149px;
      width: 184px;
    }
  }
}
