<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css"
                           crossorigin="anonymous"
                           integrity="{{ urlintegrity('https://code.cdn.mozilla.net/fonts/fira.css') }}">
    <link rel="stylesheet" href="{{ static('styles/main.css') }}"
                           integrity="{{ staticintegrity('styles/main.css') }}">

    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US">
    <meta name="viewport" content="width=device-width">
    <link rel="localization" href="{{ settings.STATIC_URL }}locales/{locale}/app.l20n">

    {% set meta_title = "Firefox Test Pilot" %}
    {% set meta_description = "Test new Features. Give us feedback. Help build Firefox." %}
    {% set meta_url = request.build_absolute_uri() %}

    <title>{{ meta_title }}</title>

    <link rel="canonical" href="{{ meta_url }}">
    <meta name="description" content="{{ meta_description }}" />

    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:image" content="{{ request.build_absolute_uri(static('images/thumbnail-facebook.png')) }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta_url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ meta_description }}" />
    <meta name="twitter:image" content="{{ request.build_absolute_uri(static('images/thumbnail-twitter.png')) }}" />
    <meta name="twitter:site" content="@FxTestPilot" />
    <meta name="twitter:title" content="{{ meta_title }}" />


</head>
<body>

  <div data-hook="page-container">

    <noscript>
      <div class="blue">
        <div class="stars"></div>
        <div class="full-page-wrapper centered">
          <div class="centered-banner">
            <div id="four-oh-four" class="modal delayed-fade-in">
              <h1 data-l10n-id="noScriptHeading" class="title">Uh oh...</h1>
              <div class="modal-content">
                <p data-l10n-id="noScriptMessage">Test Pilot requires JavaScript.<br>Sorry about that.</p>
              </div>
              <div class="modal-actions">
                <a data-l10n-id="noScriptLink" class="button default large" href="https://github.com/mozilla/testpilot/blob/master/docs/FAQs.md">Find out why</a>
              </div>
            </div>
            <div class="copter-wrapper">
              <div class="copter fade-in-fly-up"></div>
            </div>
          </div>
        </div>
      </div>
    </noscript>

  </div>

  <script src="{{ url('wafflejs') }}"
          integrity="{{ waffleintegrity(request) }}"></script>
  <script src="{{ static('app/vendor.js') }}"
          integrity="{{ staticintegrity('app/vendor.js') }}"></script>
  <script src="{{ static('app/app.js') }}"
          integrity="{{ staticintegrity('app/app.js') }}"></script>
  <script src="https://pontoon.mozilla.org/pontoon.js"
          crossorigin="anonymous"
          integrity="{{ urlintegrity('https://pontoon.mozilla.org/pontoon.js') }}"></script>
</body>
</html>
