<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="{{ static('styles/main.css') }}">

    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US">
    <meta name="viewport" content="width=device-width">
    <link rel="localization" href="{{ settings.STATIC_URL }}locales/{locale}/app.l20n">

    {% set meta_title = "Firefox Test Pilot" %}
    {% set meta_description = "Test new Features. Give us feedback. Help build Firefox." %}
    {% set meta_url = request.build_absolute_uri() %}

    <title>{{ meta_title }}</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="twitter:title" content="{{ meta_title }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="twitter:description" content="{{ meta_description }}" />
    <link rel="canonical" href="{{ meta_url }}">
    <meta property="og:url" content="{{ meta_url }}" />
    <meta property="twitter:url" content="{{ meta_url }}" />

    <meta property="og:image"
        content="{{ request.build_absolute_uri(static('images/thumbnail-facebook.png')) }}" />
    <meta property="twitter:image"
        content="{{ request.build_absolute_uri(static('images/thumbnail-twitter.png')) }}" />
</head>
<body>

  <div data-hook="page-container">

    <noscript>
      <div class="blue">
        <div class="stars"></div>
        <div class="full-page-wrapper centered">
          <div class="centered-banner">
            <div id="four-oh-four" class="modal delayed-fade-in">
              <h1 data-l10n-id="noScriptHeading" class="title">Uh oh...</h1>
              <div class="modal-content">
                <p data-l10n-id="noScriptMessage">Test Pilot requires JavaScript.<br>Sorry about that.</p>
              </div>
              <div class="modal-actions">
                <a data-l10n-id="noScriptLink" class="button default large" href="https://github.com/mozilla/testpilot/blob/master/docs/FAQs.md">Find out why</a>
              </div>
            </div>
            <div class="copter-wrapper">
              <div class="copter fade-in-fly-up"></div>
            </div>
          </div>
        </div>
      </div>
    </noscript>

  </div>

  <script src="{{ url('wafflejs') }}"></script>
  <script src="{{ static('app/app.js') }}"></script>
  <script src="https://pontoon.mozilla.org/pontoon.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)
    },i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    if (typeof(ga) !== 'undefined') {
        ga('create', 'UA-49796218-34', 'auto');
    } else {
        console.warn(
          'You have google analytics blocked. We understand. Take a ' +
          'look at our privacy policy to see how we handle your data.'
        );
    }
  </script>
</body>
</html>
